<footer class="overflow-visible bg-secondary">
    {{#if minimalVer}}
    {{else}}
        <div class="relative">
            <a class="h-16 w-16 p-4 mx-auto left-0 right-0 bg-tertiary rounded-full absolute -top-8 z-50 shadow shadow-tertiary/40 transition transition-200 ease-linear hover:scale-105 hover:brightness-90 hover:shadow-hover hover:shadow-tertiary/60" href="#">
                <svg class="fill-secondary" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16 27C15.4477 27 15 26.5523 15 26V8.41421L7.70711 15.7071C7.31658 16.0976 6.68342 16.0976 6.29289 15.7071C5.90237 15.3166 5.90237 14.6834 6.29289 14.2929L15.2929 5.29289C15.6834 4.90237 16.3166 4.90237 16.7071 5.29289L25.7071 14.2929C26.0976 14.6834 26.0976 15.3166 25.7071 15.7071C25.3166 16.0976 24.6834 16.0976 24.2929 15.7071L17 8.41421V26C17 26.5523 16.5523 27 16 27Z"/>
                </svg>
            </a>
        </div>
    {{/if}}

    <div class="mx-auto max-w-1080 px-4 lg:px-0 relative">
        <div class="grid grid-cols-1 lg:grid-cols-4 text-white py-16">
            <div>
                <div class="w-[188px] h-[64px]">
                    <img src="/assets/img/twipLogo_darkBg.svg" alt="Twip Impact Ventures Logo"/>
                </div>
                <div class="my-8 text-xl">
                    Aschauer Str. 32<br/>
                    81549 München
                </div>
                <div class="my-8 text-xl text-primary">
                    <div class="transition transition-200 ease-linear hover:text-tertiary hover:underline decoration-1 stroke-primary hover:stroke-tertiary">
                        <a href="#TODO">
                            <svg class="w-6 h-6 inline" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.75 6.75V17.25C21.75 18.4926 20.7426 19.5 19.5 19.5H4.5C3.25736 19.5 2.25 18.4926 2.25 17.25V6.75M21.75 6.75C21.75 5.50736 20.7426 4.5 19.5 4.5H4.5C3.25736 4.5 2.25 5.50736 2.25 6.75M21.75 6.75V6.99271C21.75 7.77405 21.3447 8.49945 20.6792 8.90894L13.1792 13.5243C12.4561 13.9694 11.5439 13.9694 10.8208 13.5243L3.32078 8.90894C2.65535 8.49945 2.25 7.77405 2.25 6.99271V6.75" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            hello@twip.de <!-- TODO -->
                        </a>
                    </div>
                </div>
                <div class="my-8 text-xl text-primary">
                    <div class="transition transition-200 ease-linear hover:text-tertiary hover:underline decoration-1 stroke-primary hover:stroke-tertiary">
                        <a href="/legalnotice.html" target="_blank">
                            <svg class="w-6 h-6 inline" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.5 4.5L21 12M21 12L13.5 19.5M21 12H3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            Legal notice
                        </a>
                    </div>
                    <div class="transition transition-200 ease-linear hover:text-tertiary hover:underline decoration-1 stroke-primary hover:stroke-tertiary">
                        <a href="/dataprivacy.html" target="_blank">
                            <svg class="w-6 h-6 inline" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.5 4.5L21 12M21 12L13.5 19.5M21 12H3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            Data privacy
                        </a>
                    </div>
                </div>
                <div class="text-sm">© TWIP Venture Studio GmbH & Co. KG</div>
            </div>
        </div>
    </div>
</footer>


