<section class="relative overflow-hidden md:overflow-visible z-10 bg-white pt-10 md:pt-20 pb-16 md:pb-32">
    <span id="faq" class="sectionMarker absolute top-[-70px] md:top-[-100px]"></span>
    <div class="mx-auto max-w-1080 px-4 lg:px-0 relative">
        <div class="grid grid-cols-1 md:grid-cols-12">
            <div class="col-span-8 uppercase text-secondary text-lg md:text-xl font-bold">FAQ</div>
            <div class="col-span-8 text-primary mt-4 mb-4 md:mb-8 text-3.5xl md:text-5xl leading-[3rem] font-bold">Want to know more? We are frequently asked:</div>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-12 text-secondary mt-16 mb-32">
            <div id="faqTabs" class="lg:col-start-3 col-span-8">
                <div class="grid grid-cols-8 overflow-hidden faqTab">
                    <input class="absolute opacity-0 -z-1" type="radio" id="faqRd1" name="faqRd">
                    <label for="faqRd1" class="col-span-8 grid grid-cols-8 cursor-pointer">
                        <div class="col-span-7 text-xl font-bold">Jodler hoid Prosd Griasnoggalsubbm greaßt eich nachad oa Landla a Hoiwe lem und lem lossn nimma?</div>
                        <div class="col-span-1 faqArrow">
                            <div class="w-12 h-12 ml-auto transition duration-700 ease-in-out">
                                <svg class="fill-tertiary" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M25.0607 32.5607C24.4749 33.1464 23.5251 33.1464 22.9393 32.5607L7.93934 17.5607C7.35355 16.9749 7.35355 16.0251 7.93934 15.4393C8.52513 14.8536 9.47487 14.8536 10.0607 15.4393L24 29.3787L37.9393 15.4393C38.5251 14.8536 39.4749 14.8536 40.0607 15.4393C40.6464 16.0251 40.6464 16.9749 40.0607 17.5607L25.0607 32.5607Z"/>
                                </svg>
                            </div>
                        </div>                        
                    </label>
                    <div class="faqContent col-span-7 text-base max-h-0">Bavaria ipsum dolor sit amet ebba gscheckate Weibaleid Schuabladdla Gidarn imma, imma a bravs: Ham pfiad de Ohrwaschl Watschnbaam Trachtnhuat, Obazda! Na Radi da Bavaria ipsum dolor sit amet ebba gscheckate Weibaleid Schuabladdla Gidarn imma, imma a bravs: Ham pfiad de Ohrwaschl Watschnbaam Trachtnhuat, Obazda!</div>
                </div>

                <div class="w-full h-0.5 bg-tertiary my-8"></div>

                <div class="grid grid-cols-8 overflow-hidden faqTab">
                    <input class="absolute opacity-0 -z-1" type="radio" id="faqRd2" name="faqRd">
                    <label for="faqRd2" class="col-span-8 grid grid-cols-8 cursor-pointer">
                        <div class="col-span-7 text-xl font-bold">Jodler hoid Prosd Griasnoggalsubbm greaßt eich nachad oa Landla a Hoiwe lem und lem lossn nimma?</div>
                        <div class="col-span-1 faqArrow">
                            <div class="w-12 h-12 ml-auto transition duration-700 ease-in-out">
                                <svg class="fill-tertiary" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M25.0607 32.5607C24.4749 33.1464 23.5251 33.1464 22.9393 32.5607L7.93934 17.5607C7.35355 16.9749 7.35355 16.0251 7.93934 15.4393C8.52513 14.8536 9.47487 14.8536 10.0607 15.4393L24 29.3787L37.9393 15.4393C38.5251 14.8536 39.4749 14.8536 40.0607 15.4393C40.6464 16.0251 40.6464 16.9749 40.0607 17.5607L25.0607 32.5607Z"/>
                                </svg>
                            </div>
                        </div>                        
                    </label>
                    <div class="faqContent col-span-7 text-base max-h-0">Bavaria ipsum dolor sit amet ebba gscheckate Weibaleid Schuabladdla Gidarn imma, imma a bravs: Ham pfiad de Ohrwaschl Watschnbaam Trachtnhuat, Obazda! Na Radi da Bavaria ipsum dolor sit amet ebba gscheckate Weibaleid Schuabladdla Gidarn imma, imma a bravs: Ham pfiad de Ohrwaschl Watschnbaam Trachtnhuat, Obazda!</div>
                </div>

                <div class="w-full h-0.5 bg-tertiary my-8"></div>

                <div class="grid grid-cols-8 overflow-hidden faqTab">
                    <input class="absolute opacity-0 -z-1" type="radio" id="faqRd3" name="faqRd">
                    <label for="faqRd3" class="col-span-8 grid grid-cols-8 cursor-pointer">
                        <div class="col-span-7 text-xl font-bold">Jodler hoid Prosd Griasnoggalsubbm greaßt eich nachad oa Landla a Hoiwe lem und lem lossn nimma?</div>
                        <div class="col-span-1 faqArrow">
                            <div class="w-12 h-12 ml-auto transition duration-700 ease-in-out">
                                <svg class="fill-tertiary" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M25.0607 32.5607C24.4749 33.1464 23.5251 33.1464 22.9393 32.5607L7.93934 17.5607C7.35355 16.9749 7.35355 16.0251 7.93934 15.4393C8.52513 14.8536 9.47487 14.8536 10.0607 15.4393L24 29.3787L37.9393 15.4393C38.5251 14.8536 39.4749 14.8536 40.0607 15.4393C40.6464 16.0251 40.6464 16.9749 40.0607 17.5607L25.0607 32.5607Z"/>
                                </svg>
                            </div>
                        </div>                        
                    </label>
                    <div class="faqContent col-span-7 text-base max-h-0">Bavaria ipsum dolor sit amet ebba gscheckate Weibaleid Schuabladdla Gidarn imma, imma a bravs: Ham pfiad de Ohrwaschl Watschnbaam Trachtnhuat, Obazda! Na Radi da Bavaria ipsum dolor sit amet ebba gscheckate Weibaleid Schuabladdla Gidarn imma, imma a bravs: Ham pfiad de Ohrwaschl Watschnbaam Trachtnhuat, Obazda!</div>
                </div>

            </div>
        </div>

    </div>
</section>


