<div class="mx-auto max-w-1080 mb-8 px-4 lg:px-0">
    <div class="grid grid-cols-1 md:grid-cols-2 items-center text-left">
        <div class="flex items-center mt-8">
            <h1 class="text-4xl md:text-6xl font-bold text-secondary leading-[2.475rem]  md:leading-[3.85rem]">
                If your tech makes<br/>
                the world better,<br/>
                <span class="text-primary">we invest to make<br/>you better.</span>
            </h1>
        </div>
        <div class="my-8">
            <img src="/assets/img/heroImg.svg" alt="Hero image of a starting rocket"/>
        </div>
    </div>
    <div>
        <h2 class="text-primary font-bold text-xl">We support innovative tech start-ups with:</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 items-center text-left text-base font-normal mt-4 md:mt-8">
            <div class="flex items-center text-secondary">
                <div>
                    <svg class="stroke-primary w-12 h-12" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18 34.5V36.5147C18 38.106 17.3679 39.6321 16.2426 40.7574L15 42H33L31.7574 40.7574C30.6321 39.6321 30 38.106 30 36.5147V34.5M42 10.5V30C42 32.4853 39.9853 34.5 37.5 34.5H10.5C8.01472 34.5 6 32.4853 6 30V10.5M42 10.5C42 8.01472 39.9853 6 37.5 6H10.5C8.01472 6 6 8.01472 6 10.5M42 10.5V24C42 26.4853 39.9853 28.5 37.5 28.5H10.5C8.01472 28.5 6 26.4853 6 24V10.5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="mx-4 my-1.5 lg:my-0">
                    Bavaria ipsum dolor sit amet ebba gscheckate.
                </div>
            </div>
            <div class="flex items-center text-secondary">
                <div>
                    <svg class="stroke-primary w-12 h-12" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18 34.5V36.5147C18 38.106 17.3679 39.6321 16.2426 40.7574L15 42H33L31.7574 40.7574C30.6321 39.6321 30 38.106 30 36.5147V34.5M42 10.5V30C42 32.4853 39.9853 34.5 37.5 34.5H10.5C8.01472 34.5 6 32.4853 6 30V10.5M42 10.5C42 8.01472 39.9853 6 37.5 6H10.5C8.01472 6 6 8.01472 6 10.5M42 10.5V24C42 26.4853 39.9853 28.5 37.5 28.5H10.5C8.01472 28.5 6 26.4853 6 24V10.5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="mx-4 my-1.5 lg:my-0">
                    Bavaria ipsum dolor sit amet ebba gscheckate.
                </div>
            </div>
            <div class="flex items-center text-secondary">
                <div>
                    <svg class="stroke-primary w-12 h-12" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18 34.5V36.5147C18 38.106 17.3679 39.6321 16.2426 40.7574L15 42H33L31.7574 40.7574C30.6321 39.6321 30 38.106 30 36.5147V34.5M42 10.5V30C42 32.4853 39.9853 34.5 37.5 34.5H10.5C8.01472 34.5 6 32.4853 6 30V10.5M42 10.5C42 8.01472 39.9853 6 37.5 6H10.5C8.01472 6 6 8.01472 6 10.5M42 10.5V24C42 26.4853 39.9853 28.5 37.5 28.5H10.5C8.01472 28.5 6 26.4853 6 24V10.5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="mx-4 my-1.5 lg:my-0">
                    Bavaria ipsum dolor sit amet ebba gscheckate.
                </div>
            </div>
            <div class="flex items-center text-secondary">
                <div>
                    <svg class="stroke-primary w-12 h-12" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18 34.5V36.5147C18 38.106 17.3679 39.6321 16.2426 40.7574L15 42H33L31.7574 40.7574C30.6321 39.6321 30 38.106 30 36.5147V34.5M42 10.5V30C42 32.4853 39.9853 34.5 37.5 34.5H10.5C8.01472 34.5 6 32.4853 6 30V10.5M42 10.5C42 8.01472 39.9853 6 37.5 6H10.5C8.01472 6 6 8.01472 6 10.5M42 10.5V24C42 26.4853 39.9853 28.5 37.5 28.5H10.5C8.01472 28.5 6 26.4853 6 24V10.5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="mx-4 my-1.5 lg:my-0">
                    Bavaria ipsum dolor sit amet ebba gscheckate.
                </div>
            </div>
        </div>
    </div>
</div>