@tailwind base;
@tailwind components;
@tailwind utilities;

/*Shadow on Navbar when scrolled*/
html header {
    transition: box-shadow 2s ease-in-out;
}
html:not([data-scroll="0"]) header {
    box-shadow: rgb(0 0 0 / 8%) 0px 0px 250px;
}

/*Ticker Animations*/
.tickers > .scroll:nth-child(even)>div {
    animation: tickerLeft 120s linear infinite;
    animation-delay: -120s;
}
.tickers > .scroll:nth-child(odd)>div {
    animation: tickerRight 120s linear infinite;
    animation-delay: -120s;
}

/*FAQ Section*/
input:checked ~ .faqContent {
    max-height: 100vh;
    margin-top: 32px;
}
input:checked ~ label > .faqArrow > div {
    transform: scale(1, -1);
}

@keyframes tickerLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes tickerRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.tickers > .scroll:nth-child(even)>div:nth-child(2) {
    animation: tickerLeft2 120s linear infinite;
    animation-delay: -60s;
}
.tickers > .scroll:nth-child(odd)>div:nth-child(2) {
    animation: tickerRight2 120s linear infinite;
    animation-delay: -60s;
}

@keyframes tickerLeft2 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-200%);
    }
}
@keyframes tickerRight2 {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0%);
    }
}

@layer base {
    header.opened {
        @apply bg-secondary fixed top-0 left-0 right-0 bottom-0;
    }
    header.opened a[aria-label="Home"] {
        @apply hidden;
    }
    #menuItems a:after {
        content: " ";
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        top: 3px;
        position: relative;
        opacity: 0;
        @apply bg-tertiary opacity-0;
        transition: all 0.2s ease-in-out;
      }
      #menuItems a.active:after {
        @apply md:opacity-100;
      } 
}