<section class="relative overflow-hidden md:overflow-visible z-10 bg-gray-ultra-light pt-10 md:pt-20 pb-16 md:pb-32">
    <span id="process" class="absolute top-[-70px] md:top-[-100px]"></span>
    <!-- Dots -->
    <div class="absolute max-w-[70%] w-[366px] top-20 right-0">
        <svg class="fill-gray-light" viewBox="0 0 366 171" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="3.94606" cy="3.94606" r="3.94606"/>
            <circle cx="101.611" cy="3.94606" r="3.94606"/>
            <circle cx="69.0574" cy="3.94606" r="3.94606"/>
            <circle cx="166.72" cy="3.94606" r="3.94606"/>
            <circle cx="36.4968" cy="3.94606" r="3.94606"/>
            <circle cx="134.169" cy="3.94606" r="3.94606"/>
            <circle cx="3.94606" cy="134.165" r="3.94606"/>
            <circle cx="101.611" cy="134.165" r="3.94606"/>
            <circle cx="69.0574" cy="134.165" r="3.94606"/>
            <circle cx="166.72" cy="134.165" r="3.94606"/>
            <circle cx="36.4968" cy="134.165" r="3.94606"/>
            <circle cx="134.169" cy="134.165" r="3.94606"/>
            <circle cx="3.94606" cy="69.0545" r="3.94606"/>
            <circle cx="101.611" cy="69.0545" r="3.94606"/>
            <circle cx="69.0574" cy="69.0545" r="3.94606"/>
            <circle cx="166.72" cy="69.0545" r="3.94606"/>
            <circle cx="36.4968" cy="69.0545" r="3.94606"/>
            <circle cx="134.169" cy="69.0545" r="3.94606"/>
            <circle cx="3.94606" cy="36.5008" r="3.94606"/>
            <circle cx="101.611" cy="36.5012" r="3.94606"/>
            <circle cx="69.0574" cy="36.5012" r="3.94606"/>
            <circle cx="166.72" cy="36.5012" r="3.94606"/>
            <circle cx="36.4968" cy="36.5012" r="3.94606"/>
            <circle cx="134.169" cy="36.5012" r="3.94606"/>
            <circle cx="3.94606" cy="166.721" r="3.94606"/>
            <circle cx="101.611" cy="166.721" r="3.94606"/>
            <circle cx="69.0574" cy="166.721" r="3.94606"/>
            <circle cx="166.72" cy="166.721" r="3.94606"/>
            <circle cx="36.4968" cy="166.721" r="3.94606"/>
            <circle cx="134.169" cy="166.721" r="3.94606"/>
            <circle cx="3.94606" cy="101.609" r="3.94606"/>
            <circle cx="101.611" cy="101.609" r="3.94606"/>
            <circle cx="69.0574" cy="101.609" r="3.94606"/>
            <circle cx="166.72" cy="101.609" r="3.94606"/>
            <circle cx="36.4968" cy="101.609" r="3.94606"/>
            <circle cx="134.169" cy="101.609" r="3.94606"/>
            <circle cx="199.28" cy="3.94606" r="3.94606"/>
            <circle cx="296.946" cy="3.94606" r="3.94606"/>
            <circle cx="264.39" cy="3.94606" r="3.94606"/>
            <circle cx="362.053" cy="3.94606" r="3.94606"/>
            <circle cx="231.83" cy="3.94606" r="3.94606"/>
            <circle cx="329.503" cy="3.94606" r="3.94606"/>
            <circle cx="199.28" cy="134.165" r="3.94606"/>
            <circle cx="296.946" cy="134.165" r="3.94606"/>
            <circle cx="264.39" cy="134.165" r="3.94606"/>
            <circle cx="362.053" cy="134.165" r="3.94606"/>
            <circle cx="231.83" cy="134.165" r="3.94606"/>
            <circle cx="329.503" cy="134.165" r="3.94606"/>
            <circle cx="199.28" cy="69.0545" r="3.94606"/>
            <circle cx="296.946" cy="69.0545" r="3.94606"/>
            <circle cx="264.39" cy="69.0545" r="3.94606"/>
            <circle cx="362.053" cy="69.0545" r="3.94606"/>
            <circle cx="231.83" cy="69.0545" r="3.94606"/>
            <circle cx="329.503" cy="69.0545" r="3.94606"/>
            <circle cx="199.28" cy="36.4993" r="3.94606"/>
            <circle cx="296.946" cy="36.4993" r="3.94606"/>
            <circle cx="264.39" cy="36.4993" r="3.94606"/>
            <circle cx="362.053" cy="36.4993" r="3.94606"/>
            <circle cx="231.83" cy="36.4993" r="3.94606"/>
            <circle cx="329.503" cy="36.4993" r="3.94606"/>
            <circle cx="199.28" cy="166.721" r="3.94606"/>
            <circle cx="296.946" cy="166.721" r="3.94606"/>
            <circle cx="264.39" cy="166.721" r="3.94606"/>
            <circle cx="362.053" cy="166.721" r="3.94606"/>
            <circle cx="231.83" cy="166.721" r="3.94606"/>
            <circle cx="329.503" cy="166.721" r="3.94606"/>
            <circle cx="199.28" cy="101.61" r="3.94606"/>
            <circle cx="296.946" cy="101.61" r="3.94606"/>
            <circle cx="264.39" cy="101.61" r="3.94606"/>
            <circle cx="362.053" cy="101.61" r="3.94606"/>
            <circle cx="231.83" cy="101.61" r="3.94606"/>
            <circle cx="329.503" cy="101.61" r="3.94606"/>
        </svg>
    </div>
    <!-- Twip Logo Element -->
    <div class="absolute max-w-[70%] w-[270px] -bottom-8 right-[8%] hidden md:block">
        <svg class="fill-tertiary" viewBox="0 0 270 297" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M133.27 130.695V196.657C133.27 221.365 123.43 234.706 101.678 234.706C79.9256 234.706 70.0858 221.365 70.0858 196.173V130.695H0V199.135C0 252.018 27.1651 297 100.189 297C173.212 297 199.895 251.03 199.895 199.619V130.695H133.27Z"/>
            <path d="M34.3085 0H70.106V70.1941H0V34.3413C0 15.3972 15.3734 0 34.3085 0Z"/>
            <path d="M234.947 0H129.808V70.1941H234.947C254.305 70.1941 270 54.4745 270 35.087C270 15.6995 254.305 0 234.947 0Z"/>
        </svg>
    </div>
    <div class="mx-auto max-w-1080 px-4 lg:px-0 relative">
        <div class="grid grid-cols-1 md:grid-cols-12">
            <div class="col-span-8 uppercase text-secondary text-lg md:text-xl font-bold">The Twip Process</div>
            <div class="col-span-8 text-primary mt-4 mb-4 md:mb-8 text-3.5xl md:text-5xl leading-[3rem] font-bold">Sounds like we are a match?<br/>Start the process!</div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-12 mt-16">
            <div class="col-span-7 flex relative right-2">
                <div class="w-16 min-w-[64px] h-16 relative top-4 left-4 rounded-full bg-primary text-white font-bold text-3.5xl flex items-center justify-center shadow shadow-secondary/20">1</div>
                <div class="bg-white rounded-2xl text-secondary py-4 pl-8 pr-4 md:pr-16">
                    <div class="bg-primary rounded-md text-white text-sm uppercase font-bold px-2 inline-block">3 Minutes</div>
                    <div class="text-xl font-bold my-1.5">Pitch your deck!</div>
                    <div class="text-sm">Bavaria ipsum dolor sit amet ebba gscheckate Weibaleid Schuabladdla Gidarn imma, imma a bravs: Ham pfiad de Ohrwaschl Watschnbaam.</div>
                </div>
            </div>
            <div class="col-span-7 h-8 border-solid border-l-4 border-primary relative left-32"></div>
            <div class="col-span-7 flex relative right-2">
                <div class="w-16 min-w-[64px] h-16 relative top-4 left-4 rounded-full bg-primary text-white font-bold text-3.5xl flex items-center justify-center shadow shadow-secondary/20">2</div>
                <div class="bg-white rounded-2xl text-secondary py-4 pl-8 pr-4 md:pr-16">
                    <div class="bg-primary rounded-md text-white text-sm uppercase font-bold px-2 inline-block">30 Minutes</div>
                    <div class="text-xl font-bold my-1.5">Get to know</div>
                    <div class="text-sm">Bavaria ipsum dolor sit amet ebba gscheckate Weibaleid Schuabladdla Gidarn imma, imma a bravs: Ham pfiad de Ohrwaschl Watschnbaam.</div>
                </div>
            </div>
            <div class="col-span-7 h-8 border-solid border-l-4 border-primary relative left-32"></div>
            <div class="col-span-7 flex relative right-2">
                <div class="w-16 min-w-[64px] h-16 relative top-4 left-4 rounded-full bg-primary text-white font-bold text-3.5xl flex items-center justify-center shadow shadow-secondary/20">3</div>
                <div class="bg-white rounded-2xl text-secondary py-4 pl-8 pr-4 md:pr-16">
                    <div class="bg-primary rounded-md text-white text-sm uppercase font-bold px-2 inline-block">3 Hours</div>
                    <div class="text-xl font-bold my-1.5">Pitch workshop</div>
                    <div class="text-sm">Bavaria ipsum dolor sit amet ebba gscheckate Weibaleid Schuabladdla Gidarn imma, imma a bravs: Ham pfiad de Ohrwaschl Watschnbaam.</div>
                </div>
            </div>
            <div class="col-span-7 h-8 border-solid border-l-4 border-primary relative left-32"></div>
            <div class="col-span-7 flex relative right-2">
                <div class="w-16 min-w-[64px] h-16 relative top-4 left-4 rounded-full bg-primary text-white font-bold text-3.5xl flex items-center justify-center shadow shadow-secondary/20">4</div>
                <div class="bg-white rounded-2xl text-secondary py-4 pl-8 pr-4 md:pr-16">
                    <div class="bg-primary rounded-md text-white text-sm uppercase font-bold px-2 inline-block">2 Weeks</div>
                    <div class="text-xl font-bold my-1.5">Deep dive</div>
                    <div class="text-sm">Bavaria ipsum dolor sit amet ebba gscheckate Weibaleid Schuabladdla Gidarn imma, imma a bravs: Ham pfiad de Ohrwaschl Watschnbaam.</div>
                </div>
            </div>
            <div class="col-span-7 h-8 border-solid border-l-4 border-primary relative left-32"></div>
            <div class="col-span-7 flex relative right-2">
                <div class="w-16 min-w-[64px] h-16 relative top-4 left-4 rounded-full bg-primary p-3.5 flex items-center justify-center shadow shadow-secondary/20">
                    <svg class="fill-white" viewBox="0 0 39 32" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.241205 17.6586C4.04707 22.2353 7.76606 26.8873 11.3982 31.6063L11.9194 31.8573C12.3124 31.9702 12.7095 32.0121 13.115 31.9911C13.9961 31.9995 14.8979 31.874 15.7418 31.6272C16.4492 31.4222 17.1442 31.1712 17.8061 30.8449C18.3687 30.5646 19.225 30.05 19.4939 29.4141C21.5251 24.624 23.8789 19.9637 26.5596 15.5166C27.4242 14.0817 28.326 12.6677 29.2733 11.2871L28.9465 11.764C31.4617 8.09932 34.2747 4.58938 37.6504 1.69024C38.0516 1.34719 38.1675 0.76987 37.7621 0.401725C37.2822 -0.0333567 36.1446 -0.0249898 35.5944 0.0126615C33.588 0.150716 31.5444 0.786604 29.9973 2.11277C26.3486 5.24619 23.3825 9.08662 20.6936 13.0651C18.0047 17.0436 15.8866 20.8547 13.8637 24.9629C12.9205 26.8789 12.027 28.8243 11.1913 30.7905C13.8885 30.0584 16.5857 29.3305 19.2829 28.5983C15.6508 23.8794 11.9318 19.2274 8.12596 14.6506C7.74951 14.1946 6.40091 14.2407 5.95827 14.2616C4.8827 14.3118 3.68303 14.5795 2.68606 14.9853C1.84629 15.3242 -0.784723 16.4035 0.253616 17.6502L0.241205 17.6586Z"/>
                    </svg>
                </div>
                <div class="bg-white rounded-2xl text-secondary py-4 pl-8 pr-4 md:pr-16">
                    <div class="text-xl font-bold mb-1.5">Investment board</div>
                    <div class="text-sm">Bavaria ipsum dolor sit amet ebba gscheckate Weibaleid Schuabladdla Gidarn imma, imma a bravs: Ham pfiad de Ohrwaschl Watschnbaam.</div>
                </div>
            </div>

        </div>
    </div>
</section>