<section class="relative overflow-hidden md:overflow-visible z-10 bg-gray-ultra-light pt-10 md:pt-20 pb-16 md:pb-32">
    <span id="team" class="absolute top-[-70px] md:top-[-100px]"></span>
    <div class="mx-auto max-w-1080 px-4 lg:px-0 relative">
        <div class="grid grid-cols-1 md:grid-cols-12">
            <div class="col-span-8 uppercase text-secondary text-lg md:text-xl font-bold">Team</div>
            <div class="col-span-8 text-primary mt-4 mb-4 md:mb-8 text-3.5xl md:text-5xl leading-[3rem] font-bold">Core Team</div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-4 mb-16 gap-8">
            <div class="flex items-center">
                <div class="w-[90px] h-[90px] rounded-full overflow-hidden shadow shadow-secondary/20"><img src="/assets/img/coreteam/twip-bernd-schlueter.jpg" alt="picture Bernd Schlüter"/></div>
                <div class="ml-4">
                    <div class="text-lg font-bold">Bernd Schlüter</div>
                    <div class="flex gap-4">
                        <div class="w-6 h-6 bg-tertiary p-1.5 rounded">
                            <svg class="fill-secondary" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.27277 1.63636C3.27277 1.96001 3.1768 2.27638 2.99699 2.54548C2.81718 2.81458 2.56162 3.02431 2.26261 3.14817C1.96359 3.27202 1.63457 3.30442 1.31714 3.24128C0.999716 3.17815 0.70814 3.0223 0.479287 2.79345C0.250435 2.5646 0.0945838 2.27303 0.0314435 1.9556C-0.0316968 1.63818 0.000708871 1.30916 0.124563 1.01015C0.248417 0.711148 0.458157 0.455583 0.72726 0.275777C0.996362 0.0959708 1.31274 0 1.63639 0C2.07038 0 2.48661 0.172402 2.79349 0.47928C3.10037 0.786157 3.27277 1.20237 3.27277 1.63636Z"/>
                            <path d="M2.90261 4.36363V11.5931C2.90289 11.6464 2.89264 11.6993 2.87243 11.7486C2.85222 11.798 2.82245 11.8429 2.78484 11.8807C2.74723 11.9185 2.70251 11.9485 2.65326 11.969C2.60402 11.9895 2.55121 12 2.49787 12H0.773122C0.719788 12.0001 0.666952 11.9897 0.61765 11.9694C0.568348 11.9491 0.523553 11.9192 0.48584 11.8815C0.448127 11.8437 0.41824 11.7989 0.397897 11.7496C0.377553 11.7003 0.367154 11.6475 0.367298 11.5942V4.36363C0.367298 4.256 0.410055 4.15278 0.486162 4.07667C0.562268 4.00057 0.665491 3.95781 0.773122 3.95781H2.49787C2.60532 3.9581 2.70826 4.00098 2.78413 4.07706C2.86 4.15313 2.90261 4.25619 2.90261 4.36363Z"/>
                            <path d="M11.9169 8.12727V11.6269C11.917 11.6759 11.9074 11.7245 11.8888 11.7698C11.8701 11.8152 11.8426 11.8564 11.8079 11.891C11.7732 11.9257 11.732 11.9532 11.6867 11.9719C11.6414 11.9906 11.5928 12.0001 11.5438 12H9.68919C9.64015 12.0001 9.59157 11.9906 9.54624 11.9719C9.50091 11.9532 9.45972 11.9257 9.42505 11.891C9.39038 11.8564 9.3629 11.8152 9.3442 11.7698C9.3255 11.7245 9.31595 11.6759 9.31609 11.6269V8.23527C9.31609 7.72908 9.46446 6.01854 7.9928 6.01854C6.85279 6.01854 6.62042 7.18908 6.5746 7.7149V11.6269C6.57461 11.7249 6.53605 11.819 6.46726 11.8888C6.39847 11.9586 6.30496 11.9986 6.20696 12H4.41566C4.36672 12 4.31826 11.9903 4.27305 11.9716C4.22785 11.9528 4.18679 11.9253 4.15223 11.8906C4.11767 11.856 4.09029 11.8149 4.07166 11.7696C4.05303 11.7243 4.04351 11.6758 4.04366 11.6269V4.33199C4.04351 4.28305 4.05303 4.23456 4.07166 4.1893C4.09029 4.14404 4.11767 4.1029 4.15223 4.06824C4.18679 4.03359 4.22785 4.00609 4.27305 3.98732C4.31826 3.96856 4.36672 3.9589 4.41566 3.9589H6.20696C6.30591 3.9589 6.40081 3.99821 6.47078 4.06818C6.54075 4.13815 6.58006 4.23304 6.58006 4.33199V4.96254C7.00333 4.32763 7.63062 3.83781 8.96918 3.83781C11.9343 3.83781 11.9169 6.60654 11.9169 8.12727Z"/>
                            </svg>
                        </div>
                        <div class="w-6 h-6 bg-tertiary p-1 rounded">
                            <svg class="stroke-secondary" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.5 4.5V11.5C14.5 12.3284 13.8284 13 13 13H3C2.17157 13 1.5 12.3284 1.5 11.5V4.5M14.5 4.5C14.5 3.67157 13.8284 3 13 3H3C2.17157 3 1.5 3.67157 1.5 4.5M14.5 4.5V4.66181C14.5 5.1827 14.2298 5.6663 13.7861 5.93929L8.78615 9.01622C8.30404 9.3129 7.69596 9.3129 7.21385 9.01622L2.21385 5.93929C1.77023 5.6663 1.5 5.1827 1.5 4.66181V4.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex items-center">
                <div class="w-[90px] h-[90px] rounded-full overflow-hidden shadow shadow-secondary/20"><img src="/assets/img/coreteam/twip-heiko-deppler.jpg" alt="picture Bernd Schlüter"/></div>
                <div class="ml-4">
                    <div class="text-lg font-bold">Heiko Deppler</div>
                    <div class="flex gap-4">
                        <div class="w-6 h-6 bg-tertiary p-1.5 rounded">
                            <svg class="fill-secondary" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.27277 1.63636C3.27277 1.96001 3.1768 2.27638 2.99699 2.54548C2.81718 2.81458 2.56162 3.02431 2.26261 3.14817C1.96359 3.27202 1.63457 3.30442 1.31714 3.24128C0.999716 3.17815 0.70814 3.0223 0.479287 2.79345C0.250435 2.5646 0.0945838 2.27303 0.0314435 1.9556C-0.0316968 1.63818 0.000708871 1.30916 0.124563 1.01015C0.248417 0.711148 0.458157 0.455583 0.72726 0.275777C0.996362 0.0959708 1.31274 0 1.63639 0C2.07038 0 2.48661 0.172402 2.79349 0.47928C3.10037 0.786157 3.27277 1.20237 3.27277 1.63636Z"/>
                            <path d="M2.90261 4.36363V11.5931C2.90289 11.6464 2.89264 11.6993 2.87243 11.7486C2.85222 11.798 2.82245 11.8429 2.78484 11.8807C2.74723 11.9185 2.70251 11.9485 2.65326 11.969C2.60402 11.9895 2.55121 12 2.49787 12H0.773122C0.719788 12.0001 0.666952 11.9897 0.61765 11.9694C0.568348 11.9491 0.523553 11.9192 0.48584 11.8815C0.448127 11.8437 0.41824 11.7989 0.397897 11.7496C0.377553 11.7003 0.367154 11.6475 0.367298 11.5942V4.36363C0.367298 4.256 0.410055 4.15278 0.486162 4.07667C0.562268 4.00057 0.665491 3.95781 0.773122 3.95781H2.49787C2.60532 3.9581 2.70826 4.00098 2.78413 4.07706C2.86 4.15313 2.90261 4.25619 2.90261 4.36363Z"/>
                            <path d="M11.9169 8.12727V11.6269C11.917 11.6759 11.9074 11.7245 11.8888 11.7698C11.8701 11.8152 11.8426 11.8564 11.8079 11.891C11.7732 11.9257 11.732 11.9532 11.6867 11.9719C11.6414 11.9906 11.5928 12.0001 11.5438 12H9.68919C9.64015 12.0001 9.59157 11.9906 9.54624 11.9719C9.50091 11.9532 9.45972 11.9257 9.42505 11.891C9.39038 11.8564 9.3629 11.8152 9.3442 11.7698C9.3255 11.7245 9.31595 11.6759 9.31609 11.6269V8.23527C9.31609 7.72908 9.46446 6.01854 7.9928 6.01854C6.85279 6.01854 6.62042 7.18908 6.5746 7.7149V11.6269C6.57461 11.7249 6.53605 11.819 6.46726 11.8888C6.39847 11.9586 6.30496 11.9986 6.20696 12H4.41566C4.36672 12 4.31826 11.9903 4.27305 11.9716C4.22785 11.9528 4.18679 11.9253 4.15223 11.8906C4.11767 11.856 4.09029 11.8149 4.07166 11.7696C4.05303 11.7243 4.04351 11.6758 4.04366 11.6269V4.33199C4.04351 4.28305 4.05303 4.23456 4.07166 4.1893C4.09029 4.14404 4.11767 4.1029 4.15223 4.06824C4.18679 4.03359 4.22785 4.00609 4.27305 3.98732C4.31826 3.96856 4.36672 3.9589 4.41566 3.9589H6.20696C6.30591 3.9589 6.40081 3.99821 6.47078 4.06818C6.54075 4.13815 6.58006 4.23304 6.58006 4.33199V4.96254C7.00333 4.32763 7.63062 3.83781 8.96918 3.83781C11.9343 3.83781 11.9169 6.60654 11.9169 8.12727Z"/>
                            </svg>
                        </div>
                        <div class="w-6 h-6 bg-tertiary p-1 rounded">
                            <svg class="stroke-secondary" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.5 4.5V11.5C14.5 12.3284 13.8284 13 13 13H3C2.17157 13 1.5 12.3284 1.5 11.5V4.5M14.5 4.5C14.5 3.67157 13.8284 3 13 3H3C2.17157 3 1.5 3.67157 1.5 4.5M14.5 4.5V4.66181C14.5 5.1827 14.2298 5.6663 13.7861 5.93929L8.78615 9.01622C8.30404 9.3129 7.69596 9.3129 7.21385 9.01622L2.21385 5.93929C1.77023 5.6663 1.5 5.1827 1.5 4.66181V4.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex items-center">
                <div class="w-[90px] h-[90px] rounded-full overflow-hidden shadow shadow-secondary/20"><img src="/assets/img/coreteam/twip-katrin-kallweit.jpg" alt="picture Bernd Schlüter"/></div>
                <div class="ml-4">
                    <div class="text-lg font-bold">Katrin Kallweit</div>
                    <div class="flex gap-4">
                        <div class="w-6 h-6 bg-tertiary p-1.5 rounded">
                            <svg class="fill-secondary" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.27277 1.63636C3.27277 1.96001 3.1768 2.27638 2.99699 2.54548C2.81718 2.81458 2.56162 3.02431 2.26261 3.14817C1.96359 3.27202 1.63457 3.30442 1.31714 3.24128C0.999716 3.17815 0.70814 3.0223 0.479287 2.79345C0.250435 2.5646 0.0945838 2.27303 0.0314435 1.9556C-0.0316968 1.63818 0.000708871 1.30916 0.124563 1.01015C0.248417 0.711148 0.458157 0.455583 0.72726 0.275777C0.996362 0.0959708 1.31274 0 1.63639 0C2.07038 0 2.48661 0.172402 2.79349 0.47928C3.10037 0.786157 3.27277 1.20237 3.27277 1.63636Z"/>
                            <path d="M2.90261 4.36363V11.5931C2.90289 11.6464 2.89264 11.6993 2.87243 11.7486C2.85222 11.798 2.82245 11.8429 2.78484 11.8807C2.74723 11.9185 2.70251 11.9485 2.65326 11.969C2.60402 11.9895 2.55121 12 2.49787 12H0.773122C0.719788 12.0001 0.666952 11.9897 0.61765 11.9694C0.568348 11.9491 0.523553 11.9192 0.48584 11.8815C0.448127 11.8437 0.41824 11.7989 0.397897 11.7496C0.377553 11.7003 0.367154 11.6475 0.367298 11.5942V4.36363C0.367298 4.256 0.410055 4.15278 0.486162 4.07667C0.562268 4.00057 0.665491 3.95781 0.773122 3.95781H2.49787C2.60532 3.9581 2.70826 4.00098 2.78413 4.07706C2.86 4.15313 2.90261 4.25619 2.90261 4.36363Z"/>
                            <path d="M11.9169 8.12727V11.6269C11.917 11.6759 11.9074 11.7245 11.8888 11.7698C11.8701 11.8152 11.8426 11.8564 11.8079 11.891C11.7732 11.9257 11.732 11.9532 11.6867 11.9719C11.6414 11.9906 11.5928 12.0001 11.5438 12H9.68919C9.64015 12.0001 9.59157 11.9906 9.54624 11.9719C9.50091 11.9532 9.45972 11.9257 9.42505 11.891C9.39038 11.8564 9.3629 11.8152 9.3442 11.7698C9.3255 11.7245 9.31595 11.6759 9.31609 11.6269V8.23527C9.31609 7.72908 9.46446 6.01854 7.9928 6.01854C6.85279 6.01854 6.62042 7.18908 6.5746 7.7149V11.6269C6.57461 11.7249 6.53605 11.819 6.46726 11.8888C6.39847 11.9586 6.30496 11.9986 6.20696 12H4.41566C4.36672 12 4.31826 11.9903 4.27305 11.9716C4.22785 11.9528 4.18679 11.9253 4.15223 11.8906C4.11767 11.856 4.09029 11.8149 4.07166 11.7696C4.05303 11.7243 4.04351 11.6758 4.04366 11.6269V4.33199C4.04351 4.28305 4.05303 4.23456 4.07166 4.1893C4.09029 4.14404 4.11767 4.1029 4.15223 4.06824C4.18679 4.03359 4.22785 4.00609 4.27305 3.98732C4.31826 3.96856 4.36672 3.9589 4.41566 3.9589H6.20696C6.30591 3.9589 6.40081 3.99821 6.47078 4.06818C6.54075 4.13815 6.58006 4.23304 6.58006 4.33199V4.96254C7.00333 4.32763 7.63062 3.83781 8.96918 3.83781C11.9343 3.83781 11.9169 6.60654 11.9169 8.12727Z"/>
                            </svg>
                        </div>
                        <div class="w-6 h-6 bg-tertiary p-1 rounded">
                            <svg class="stroke-secondary" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.5 4.5V11.5C14.5 12.3284 13.8284 13 13 13H3C2.17157 13 1.5 12.3284 1.5 11.5V4.5M14.5 4.5C14.5 3.67157 13.8284 3 13 3H3C2.17157 3 1.5 3.67157 1.5 4.5M14.5 4.5V4.66181C14.5 5.1827 14.2298 5.6663 13.7861 5.93929L8.78615 9.01622C8.30404 9.3129 7.69596 9.3129 7.21385 9.01622L2.21385 5.93929C1.77023 5.6663 1.5 5.1827 1.5 4.66181V4.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex items-center">
                <div class="w-[90px] h-[90px] rounded-full overflow-hidden shadow shadow-secondary/20"><img src="/assets/img/coreteam/twip-michi-adersberger.jpg" alt="picture Bernd Schlüter"/></div>
                <div class="ml-4">
                    <div class="text-lg font-bold">Michi Adersberger</div>
                    <div class="flex gap-4">
                        <div class="w-6 h-6 bg-tertiary p-1.5 rounded">
                            <svg class="fill-secondary" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.27277 1.63636C3.27277 1.96001 3.1768 2.27638 2.99699 2.54548C2.81718 2.81458 2.56162 3.02431 2.26261 3.14817C1.96359 3.27202 1.63457 3.30442 1.31714 3.24128C0.999716 3.17815 0.70814 3.0223 0.479287 2.79345C0.250435 2.5646 0.0945838 2.27303 0.0314435 1.9556C-0.0316968 1.63818 0.000708871 1.30916 0.124563 1.01015C0.248417 0.711148 0.458157 0.455583 0.72726 0.275777C0.996362 0.0959708 1.31274 0 1.63639 0C2.07038 0 2.48661 0.172402 2.79349 0.47928C3.10037 0.786157 3.27277 1.20237 3.27277 1.63636Z"/>
                            <path d="M2.90261 4.36363V11.5931C2.90289 11.6464 2.89264 11.6993 2.87243 11.7486C2.85222 11.798 2.82245 11.8429 2.78484 11.8807C2.74723 11.9185 2.70251 11.9485 2.65326 11.969C2.60402 11.9895 2.55121 12 2.49787 12H0.773122C0.719788 12.0001 0.666952 11.9897 0.61765 11.9694C0.568348 11.9491 0.523553 11.9192 0.48584 11.8815C0.448127 11.8437 0.41824 11.7989 0.397897 11.7496C0.377553 11.7003 0.367154 11.6475 0.367298 11.5942V4.36363C0.367298 4.256 0.410055 4.15278 0.486162 4.07667C0.562268 4.00057 0.665491 3.95781 0.773122 3.95781H2.49787C2.60532 3.9581 2.70826 4.00098 2.78413 4.07706C2.86 4.15313 2.90261 4.25619 2.90261 4.36363Z"/>
                            <path d="M11.9169 8.12727V11.6269C11.917 11.6759 11.9074 11.7245 11.8888 11.7698C11.8701 11.8152 11.8426 11.8564 11.8079 11.891C11.7732 11.9257 11.732 11.9532 11.6867 11.9719C11.6414 11.9906 11.5928 12.0001 11.5438 12H9.68919C9.64015 12.0001 9.59157 11.9906 9.54624 11.9719C9.50091 11.9532 9.45972 11.9257 9.42505 11.891C9.39038 11.8564 9.3629 11.8152 9.3442 11.7698C9.3255 11.7245 9.31595 11.6759 9.31609 11.6269V8.23527C9.31609 7.72908 9.46446 6.01854 7.9928 6.01854C6.85279 6.01854 6.62042 7.18908 6.5746 7.7149V11.6269C6.57461 11.7249 6.53605 11.819 6.46726 11.8888C6.39847 11.9586 6.30496 11.9986 6.20696 12H4.41566C4.36672 12 4.31826 11.9903 4.27305 11.9716C4.22785 11.9528 4.18679 11.9253 4.15223 11.8906C4.11767 11.856 4.09029 11.8149 4.07166 11.7696C4.05303 11.7243 4.04351 11.6758 4.04366 11.6269V4.33199C4.04351 4.28305 4.05303 4.23456 4.07166 4.1893C4.09029 4.14404 4.11767 4.1029 4.15223 4.06824C4.18679 4.03359 4.22785 4.00609 4.27305 3.98732C4.31826 3.96856 4.36672 3.9589 4.41566 3.9589H6.20696C6.30591 3.9589 6.40081 3.99821 6.47078 4.06818C6.54075 4.13815 6.58006 4.23304 6.58006 4.33199V4.96254C7.00333 4.32763 7.63062 3.83781 8.96918 3.83781C11.9343 3.83781 11.9169 6.60654 11.9169 8.12727Z"/>
                            </svg>
                        </div>
                        <div class="w-6 h-6 bg-tertiary p-1 rounded">
                            <svg class="stroke-secondary" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.5 4.5V11.5C14.5 12.3284 13.8284 13 13 13H3C2.17157 13 1.5 12.3284 1.5 11.5V4.5M14.5 4.5C14.5 3.67157 13.8284 3 13 3H3C2.17157 3 1.5 3.67157 1.5 4.5M14.5 4.5V4.66181C14.5 5.1827 14.2298 5.6663 13.7861 5.93929L8.78615 9.01622C8.30404 9.3129 7.69596 9.3129 7.21385 9.01622L2.21385 5.93929C1.77023 5.6663 1.5 5.1827 1.5 4.66181V4.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex items-center">
                <div class="w-[90px] h-[90px] rounded-full overflow-hidden shadow shadow-secondary/20"><img src="/assets/img/coreteam/twip-nic-olberg.jpg" alt="picture Bernd Schlüter"/></div>
                <div class="ml-4">
                    <div class="text-lg font-bold">Nic Olberg</div>
                    <div class="flex gap-4">
                        <div class="w-6 h-6 bg-tertiary p-1.5 rounded">
                            <svg class="fill-secondary" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.27277 1.63636C3.27277 1.96001 3.1768 2.27638 2.99699 2.54548C2.81718 2.81458 2.56162 3.02431 2.26261 3.14817C1.96359 3.27202 1.63457 3.30442 1.31714 3.24128C0.999716 3.17815 0.70814 3.0223 0.479287 2.79345C0.250435 2.5646 0.0945838 2.27303 0.0314435 1.9556C-0.0316968 1.63818 0.000708871 1.30916 0.124563 1.01015C0.248417 0.711148 0.458157 0.455583 0.72726 0.275777C0.996362 0.0959708 1.31274 0 1.63639 0C2.07038 0 2.48661 0.172402 2.79349 0.47928C3.10037 0.786157 3.27277 1.20237 3.27277 1.63636Z"/>
                            <path d="M2.90261 4.36363V11.5931C2.90289 11.6464 2.89264 11.6993 2.87243 11.7486C2.85222 11.798 2.82245 11.8429 2.78484 11.8807C2.74723 11.9185 2.70251 11.9485 2.65326 11.969C2.60402 11.9895 2.55121 12 2.49787 12H0.773122C0.719788 12.0001 0.666952 11.9897 0.61765 11.9694C0.568348 11.9491 0.523553 11.9192 0.48584 11.8815C0.448127 11.8437 0.41824 11.7989 0.397897 11.7496C0.377553 11.7003 0.367154 11.6475 0.367298 11.5942V4.36363C0.367298 4.256 0.410055 4.15278 0.486162 4.07667C0.562268 4.00057 0.665491 3.95781 0.773122 3.95781H2.49787C2.60532 3.9581 2.70826 4.00098 2.78413 4.07706C2.86 4.15313 2.90261 4.25619 2.90261 4.36363Z"/>
                            <path d="M11.9169 8.12727V11.6269C11.917 11.6759 11.9074 11.7245 11.8888 11.7698C11.8701 11.8152 11.8426 11.8564 11.8079 11.891C11.7732 11.9257 11.732 11.9532 11.6867 11.9719C11.6414 11.9906 11.5928 12.0001 11.5438 12H9.68919C9.64015 12.0001 9.59157 11.9906 9.54624 11.9719C9.50091 11.9532 9.45972 11.9257 9.42505 11.891C9.39038 11.8564 9.3629 11.8152 9.3442 11.7698C9.3255 11.7245 9.31595 11.6759 9.31609 11.6269V8.23527C9.31609 7.72908 9.46446 6.01854 7.9928 6.01854C6.85279 6.01854 6.62042 7.18908 6.5746 7.7149V11.6269C6.57461 11.7249 6.53605 11.819 6.46726 11.8888C6.39847 11.9586 6.30496 11.9986 6.20696 12H4.41566C4.36672 12 4.31826 11.9903 4.27305 11.9716C4.22785 11.9528 4.18679 11.9253 4.15223 11.8906C4.11767 11.856 4.09029 11.8149 4.07166 11.7696C4.05303 11.7243 4.04351 11.6758 4.04366 11.6269V4.33199C4.04351 4.28305 4.05303 4.23456 4.07166 4.1893C4.09029 4.14404 4.11767 4.1029 4.15223 4.06824C4.18679 4.03359 4.22785 4.00609 4.27305 3.98732C4.31826 3.96856 4.36672 3.9589 4.41566 3.9589H6.20696C6.30591 3.9589 6.40081 3.99821 6.47078 4.06818C6.54075 4.13815 6.58006 4.23304 6.58006 4.33199V4.96254C7.00333 4.32763 7.63062 3.83781 8.96918 3.83781C11.9343 3.83781 11.9169 6.60654 11.9169 8.12727Z"/>
                            </svg>
                        </div>
                        <div class="w-6 h-6 bg-tertiary p-1 rounded">
                            <svg class="stroke-secondary" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.5 4.5V11.5C14.5 12.3284 13.8284 13 13 13H3C2.17157 13 1.5 12.3284 1.5 11.5V4.5M14.5 4.5C14.5 3.67157 13.8284 3 13 3H3C2.17157 3 1.5 3.67157 1.5 4.5M14.5 4.5V4.66181C14.5 5.1827 14.2298 5.6663 13.7861 5.93929L8.78615 9.01622C8.30404 9.3129 7.69596 9.3129 7.21385 9.01622L2.21385 5.93929C1.77023 5.6663 1.5 5.1827 1.5 4.66181V4.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-12">
            <div class="col-span-8 text-primary mt-4 mb-4 md:mb-8 text-3.5xl md:text-5xl leading-[3rem] font-bold">Advisors</div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-4 mb-16 gap-8">
            <div class="flex items-center">
                <div class="w-[90px] h-[90px] rounded-full overflow-hidden shadow shadow-secondary/20"><img src="/assets/img/advisors/twip-peter-borchers.jpg" alt="picture Bernd Schlüter"/></div>
                <div class="ml-4">
                    <div class="text-lg font-bold">Peter Borchers</div>
                    <div class="text-sm relative bottom-1.5">Corporate Innovation Expert</div>
                    <div class="flex gap-4">
                        <div class="w-6 h-6 bg-tertiary p-1.5 rounded">
                            <svg class="fill-secondary" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.27277 1.63636C3.27277 1.96001 3.1768 2.27638 2.99699 2.54548C2.81718 2.81458 2.56162 3.02431 2.26261 3.14817C1.96359 3.27202 1.63457 3.30442 1.31714 3.24128C0.999716 3.17815 0.70814 3.0223 0.479287 2.79345C0.250435 2.5646 0.0945838 2.27303 0.0314435 1.9556C-0.0316968 1.63818 0.000708871 1.30916 0.124563 1.01015C0.248417 0.711148 0.458157 0.455583 0.72726 0.275777C0.996362 0.0959708 1.31274 0 1.63639 0C2.07038 0 2.48661 0.172402 2.79349 0.47928C3.10037 0.786157 3.27277 1.20237 3.27277 1.63636Z"/>
                            <path d="M2.90261 4.36363V11.5931C2.90289 11.6464 2.89264 11.6993 2.87243 11.7486C2.85222 11.798 2.82245 11.8429 2.78484 11.8807C2.74723 11.9185 2.70251 11.9485 2.65326 11.969C2.60402 11.9895 2.55121 12 2.49787 12H0.773122C0.719788 12.0001 0.666952 11.9897 0.61765 11.9694C0.568348 11.9491 0.523553 11.9192 0.48584 11.8815C0.448127 11.8437 0.41824 11.7989 0.397897 11.7496C0.377553 11.7003 0.367154 11.6475 0.367298 11.5942V4.36363C0.367298 4.256 0.410055 4.15278 0.486162 4.07667C0.562268 4.00057 0.665491 3.95781 0.773122 3.95781H2.49787C2.60532 3.9581 2.70826 4.00098 2.78413 4.07706C2.86 4.15313 2.90261 4.25619 2.90261 4.36363Z"/>
                            <path d="M11.9169 8.12727V11.6269C11.917 11.6759 11.9074 11.7245 11.8888 11.7698C11.8701 11.8152 11.8426 11.8564 11.8079 11.891C11.7732 11.9257 11.732 11.9532 11.6867 11.9719C11.6414 11.9906 11.5928 12.0001 11.5438 12H9.68919C9.64015 12.0001 9.59157 11.9906 9.54624 11.9719C9.50091 11.9532 9.45972 11.9257 9.42505 11.891C9.39038 11.8564 9.3629 11.8152 9.3442 11.7698C9.3255 11.7245 9.31595 11.6759 9.31609 11.6269V8.23527C9.31609 7.72908 9.46446 6.01854 7.9928 6.01854C6.85279 6.01854 6.62042 7.18908 6.5746 7.7149V11.6269C6.57461 11.7249 6.53605 11.819 6.46726 11.8888C6.39847 11.9586 6.30496 11.9986 6.20696 12H4.41566C4.36672 12 4.31826 11.9903 4.27305 11.9716C4.22785 11.9528 4.18679 11.9253 4.15223 11.8906C4.11767 11.856 4.09029 11.8149 4.07166 11.7696C4.05303 11.7243 4.04351 11.6758 4.04366 11.6269V4.33199C4.04351 4.28305 4.05303 4.23456 4.07166 4.1893C4.09029 4.14404 4.11767 4.1029 4.15223 4.06824C4.18679 4.03359 4.22785 4.00609 4.27305 3.98732C4.31826 3.96856 4.36672 3.9589 4.41566 3.9589H6.20696C6.30591 3.9589 6.40081 3.99821 6.47078 4.06818C6.54075 4.13815 6.58006 4.23304 6.58006 4.33199V4.96254C7.00333 4.32763 7.63062 3.83781 8.96918 3.83781C11.9343 3.83781 11.9169 6.60654 11.9169 8.12727Z"/>
                            </svg>
                        </div>
                        <div class="w-6 h-6 bg-tertiary p-1 rounded">
                            <svg class="stroke-secondary" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.5 4.5V11.5C14.5 12.3284 13.8284 13 13 13H3C2.17157 13 1.5 12.3284 1.5 11.5V4.5M14.5 4.5C14.5 3.67157 13.8284 3 13 3H3C2.17157 3 1.5 3.67157 1.5 4.5M14.5 4.5V4.66181C14.5 5.1827 14.2298 5.6663 13.7861 5.93929L8.78615 9.01622C8.30404 9.3129 7.69596 9.3129 7.21385 9.01622L2.21385 5.93929C1.77023 5.6663 1.5 5.1827 1.5 4.66181V4.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex items-center">
                <div class="w-[90px] h-[90px] rounded-full overflow-hidden shadow shadow-secondary/20"><img src="/assets/img/advisors/twip-detlev-hoch.jpg" alt="picture Bernd Schlüter"/></div>
                <div class="ml-4">
                    <div class="text-lg font-bold">Detlev Hoch</div>
                    <div class="text-sm relative bottom-1.5">Business Angel</div>
                    <div class="flex gap-4">
                        <div class="w-6 h-6 bg-tertiary p-1.5 rounded">
                            <svg class="fill-secondary" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.27277 1.63636C3.27277 1.96001 3.1768 2.27638 2.99699 2.54548C2.81718 2.81458 2.56162 3.02431 2.26261 3.14817C1.96359 3.27202 1.63457 3.30442 1.31714 3.24128C0.999716 3.17815 0.70814 3.0223 0.479287 2.79345C0.250435 2.5646 0.0945838 2.27303 0.0314435 1.9556C-0.0316968 1.63818 0.000708871 1.30916 0.124563 1.01015C0.248417 0.711148 0.458157 0.455583 0.72726 0.275777C0.996362 0.0959708 1.31274 0 1.63639 0C2.07038 0 2.48661 0.172402 2.79349 0.47928C3.10037 0.786157 3.27277 1.20237 3.27277 1.63636Z"/>
                            <path d="M2.90261 4.36363V11.5931C2.90289 11.6464 2.89264 11.6993 2.87243 11.7486C2.85222 11.798 2.82245 11.8429 2.78484 11.8807C2.74723 11.9185 2.70251 11.9485 2.65326 11.969C2.60402 11.9895 2.55121 12 2.49787 12H0.773122C0.719788 12.0001 0.666952 11.9897 0.61765 11.9694C0.568348 11.9491 0.523553 11.9192 0.48584 11.8815C0.448127 11.8437 0.41824 11.7989 0.397897 11.7496C0.377553 11.7003 0.367154 11.6475 0.367298 11.5942V4.36363C0.367298 4.256 0.410055 4.15278 0.486162 4.07667C0.562268 4.00057 0.665491 3.95781 0.773122 3.95781H2.49787C2.60532 3.9581 2.70826 4.00098 2.78413 4.07706C2.86 4.15313 2.90261 4.25619 2.90261 4.36363Z"/>
                            <path d="M11.9169 8.12727V11.6269C11.917 11.6759 11.9074 11.7245 11.8888 11.7698C11.8701 11.8152 11.8426 11.8564 11.8079 11.891C11.7732 11.9257 11.732 11.9532 11.6867 11.9719C11.6414 11.9906 11.5928 12.0001 11.5438 12H9.68919C9.64015 12.0001 9.59157 11.9906 9.54624 11.9719C9.50091 11.9532 9.45972 11.9257 9.42505 11.891C9.39038 11.8564 9.3629 11.8152 9.3442 11.7698C9.3255 11.7245 9.31595 11.6759 9.31609 11.6269V8.23527C9.31609 7.72908 9.46446 6.01854 7.9928 6.01854C6.85279 6.01854 6.62042 7.18908 6.5746 7.7149V11.6269C6.57461 11.7249 6.53605 11.819 6.46726 11.8888C6.39847 11.9586 6.30496 11.9986 6.20696 12H4.41566C4.36672 12 4.31826 11.9903 4.27305 11.9716C4.22785 11.9528 4.18679 11.9253 4.15223 11.8906C4.11767 11.856 4.09029 11.8149 4.07166 11.7696C4.05303 11.7243 4.04351 11.6758 4.04366 11.6269V4.33199C4.04351 4.28305 4.05303 4.23456 4.07166 4.1893C4.09029 4.14404 4.11767 4.1029 4.15223 4.06824C4.18679 4.03359 4.22785 4.00609 4.27305 3.98732C4.31826 3.96856 4.36672 3.9589 4.41566 3.9589H6.20696C6.30591 3.9589 6.40081 3.99821 6.47078 4.06818C6.54075 4.13815 6.58006 4.23304 6.58006 4.33199V4.96254C7.00333 4.32763 7.63062 3.83781 8.96918 3.83781C11.9343 3.83781 11.9169 6.60654 11.9169 8.12727Z"/>
                            </svg>
                        </div>
                        <div class="w-6 h-6 bg-tertiary p-1 rounded">
                            <svg class="stroke-secondary" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.5 4.5V11.5C14.5 12.3284 13.8284 13 13 13H3C2.17157 13 1.5 12.3284 1.5 11.5V4.5M14.5 4.5C14.5 3.67157 13.8284 3 13 3H3C2.17157 3 1.5 3.67157 1.5 4.5M14.5 4.5V4.66181C14.5 5.1827 14.2298 5.6663 13.7861 5.93929L8.78615 9.01622C8.30404 9.3129 7.69596 9.3129 7.21385 9.01622L2.21385 5.93929C1.77023 5.6663 1.5 5.1827 1.5 4.66181V4.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex items-center">
                <div class="w-[90px] h-[90px] rounded-full overflow-hidden shadow shadow-secondary/20"><img src="/assets/img/advisors/twip-aydo-schosswald.jpg" alt="picture Bernd Schlüter"/></div>
                <div class="ml-4">
                    <div class="text-lg font-bold">Aydo Schosswald</div>
                    <div class="text-sm relative bottom-1.5">Innovation Strategy Expert</div>
                    <div class="flex gap-4">
                        <div class="w-6 h-6 bg-tertiary p-1.5 rounded">
                            <svg class="fill-secondary" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.27277 1.63636C3.27277 1.96001 3.1768 2.27638 2.99699 2.54548C2.81718 2.81458 2.56162 3.02431 2.26261 3.14817C1.96359 3.27202 1.63457 3.30442 1.31714 3.24128C0.999716 3.17815 0.70814 3.0223 0.479287 2.79345C0.250435 2.5646 0.0945838 2.27303 0.0314435 1.9556C-0.0316968 1.63818 0.000708871 1.30916 0.124563 1.01015C0.248417 0.711148 0.458157 0.455583 0.72726 0.275777C0.996362 0.0959708 1.31274 0 1.63639 0C2.07038 0 2.48661 0.172402 2.79349 0.47928C3.10037 0.786157 3.27277 1.20237 3.27277 1.63636Z"/>
                            <path d="M2.90261 4.36363V11.5931C2.90289 11.6464 2.89264 11.6993 2.87243 11.7486C2.85222 11.798 2.82245 11.8429 2.78484 11.8807C2.74723 11.9185 2.70251 11.9485 2.65326 11.969C2.60402 11.9895 2.55121 12 2.49787 12H0.773122C0.719788 12.0001 0.666952 11.9897 0.61765 11.9694C0.568348 11.9491 0.523553 11.9192 0.48584 11.8815C0.448127 11.8437 0.41824 11.7989 0.397897 11.7496C0.377553 11.7003 0.367154 11.6475 0.367298 11.5942V4.36363C0.367298 4.256 0.410055 4.15278 0.486162 4.07667C0.562268 4.00057 0.665491 3.95781 0.773122 3.95781H2.49787C2.60532 3.9581 2.70826 4.00098 2.78413 4.07706C2.86 4.15313 2.90261 4.25619 2.90261 4.36363Z"/>
                            <path d="M11.9169 8.12727V11.6269C11.917 11.6759 11.9074 11.7245 11.8888 11.7698C11.8701 11.8152 11.8426 11.8564 11.8079 11.891C11.7732 11.9257 11.732 11.9532 11.6867 11.9719C11.6414 11.9906 11.5928 12.0001 11.5438 12H9.68919C9.64015 12.0001 9.59157 11.9906 9.54624 11.9719C9.50091 11.9532 9.45972 11.9257 9.42505 11.891C9.39038 11.8564 9.3629 11.8152 9.3442 11.7698C9.3255 11.7245 9.31595 11.6759 9.31609 11.6269V8.23527C9.31609 7.72908 9.46446 6.01854 7.9928 6.01854C6.85279 6.01854 6.62042 7.18908 6.5746 7.7149V11.6269C6.57461 11.7249 6.53605 11.819 6.46726 11.8888C6.39847 11.9586 6.30496 11.9986 6.20696 12H4.41566C4.36672 12 4.31826 11.9903 4.27305 11.9716C4.22785 11.9528 4.18679 11.9253 4.15223 11.8906C4.11767 11.856 4.09029 11.8149 4.07166 11.7696C4.05303 11.7243 4.04351 11.6758 4.04366 11.6269V4.33199C4.04351 4.28305 4.05303 4.23456 4.07166 4.1893C4.09029 4.14404 4.11767 4.1029 4.15223 4.06824C4.18679 4.03359 4.22785 4.00609 4.27305 3.98732C4.31826 3.96856 4.36672 3.9589 4.41566 3.9589H6.20696C6.30591 3.9589 6.40081 3.99821 6.47078 4.06818C6.54075 4.13815 6.58006 4.23304 6.58006 4.33199V4.96254C7.00333 4.32763 7.63062 3.83781 8.96918 3.83781C11.9343 3.83781 11.9169 6.60654 11.9169 8.12727Z"/>
                            </svg>
                        </div>
                        <div class="w-6 h-6 bg-tertiary p-1 rounded">
                            <svg class="stroke-secondary" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.5 4.5V11.5C14.5 12.3284 13.8284 13 13 13H3C2.17157 13 1.5 12.3284 1.5 11.5V4.5M14.5 4.5C14.5 3.67157 13.8284 3 13 3H3C2.17157 3 1.5 3.67157 1.5 4.5M14.5 4.5V4.66181C14.5 5.1827 14.2298 5.6663 13.7861 5.93929L8.78615 9.01622C8.30404 9.3129 7.69596 9.3129 7.21385 9.01622L2.21385 5.93929C1.77023 5.6663 1.5 5.1827 1.5 4.66181V4.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-12">
            <div class="col-span-8 text-primary mt-4 mb-4 md:mb-8 text-3.5xl md:text-5xl leading-[3rem] font-bold">Joint partners</div>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-4">
            <div class="col-span-3">
                <div class="grid grid-cols-2 md:grid-cols-3 mt-4 mb-16 gap-8">
                    <a href="#">
                        <img src="/assets/img/partnerlogos/twip-microsoft.png" alt="Microsoft Logo"/>
                    </a>
                    <a href="#">
                        <img src="/assets/img/partnerlogos/twip-impact-factory.png" alt="Impact Factory Logo"/>
                    </a>
                    <a href="#">
                        <img src="/assets/img/partnerlogos/twip-xpreneurs-incubator.png" alt="Xpreneurs Incubator Logo"/>
                    </a>
                    <a href="#">
                        <img src="/assets/img/partnerlogos/twip-batchone.png" alt="Batch One Logo"/>
                    </a>
                    <a href="#">
                        <img src="/assets/img/partnerlogos/twip-stellwerk-18.png" alt="Stellwerk 18 Logo"/>
                    </a>
                    <a href="#">
                        <img src="/assets/img/partnerlogos/twip-digital-product-school.png" alt="DPS Logo"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>