<section class="relative overflow-hidden bg-white pt-10 md:pt-20 pb-36 md:pb-52">
    <span id="cases" class="sectionMarker absolute  top-[-70px] md:top-[-100px]"></span>
    <div class="mx-auto max-w-1080 px-4 lg:px-0 relative">
        <div class="grid grid-cols-1 md:grid-cols-12">
            <div class="col-span-8 uppercase text-secondary text-lg md:text-xl font-bold">Our Cases</div>
            <div class="col-span-8 text-primary mt-4 mb-4 md:mb-8 text-3.5xl md:text-5xl leading-[3rem] font-bold">Proud of our startups!<br/>See for yourself</div>
            <div class="col-span-8 text-secondary text-lg md:text-xl">Bavaria ipsum dolor sit amet ebba gscheckate Weibaleid SChuabladdla Gidarn imma, imma a bravs:</div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-12 justify-items-center mt-8 md:mt-16">
            <div class="w-16 h-16 col-start-2 col-span-1 hidden md:block">
                <svg viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="fill-primary" fill-rule="evenodd" clip-rule="evenodd" d="M44.5858 20.5858C45.3668 19.8047 46.6332 19.8047 47.4142 20.5858L57.4142 30.5858C58.1953 31.3668 58.1953 32.6332 57.4142 33.4142L47.4142 43.4142C46.6332 44.1953 45.3668 44.1953 44.5858 43.4142C43.8047 42.6332 43.8047 41.3668 44.5858 40.5858L51.1716 34H8C6.89543 34 6 33.1046 6 32C6 30.8954 6.89543 30 8 30H51.1716L44.5858 23.4142C43.8047 22.6332 43.8047 21.3668 44.5858 20.5858Z"/>
                </svg>
            </div>
            <div class="col-span-1 md:col-span-4 text-secondary">
                <h3 class="font-bold text-2xl md:text-3.5xl">Caeli Wind</h3>
                <div class="text-base mt-2 md:mt-4 mb-4 md:mb-8">Bavaria ipsum dolor sit amet ebba gscheckate Weibaleid Schuabladdla Gidarn imma, imma a bravs: Ham pfiad de Ohrwaschl Watschnbaam Trachtnhuat, Obazda! Na Radi da Bavaria ipsum dolor sit amet ebba gscheckate Weibaleid Schuabladdla Gidarn imma, imma a bravs: Ham pfiad de Ohrwaschl Watschnbaam Trachtnhuat, Obazda!</div>
                <h4 class="font-bold text-lg md:text-xl">What we did for Caeli Wind:</h4>
                <div>
                    <div class="flex my-2">
                        <div class="w-6 h-6 mt-0.5">
                            <svg class="fill-primary" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.25 12C2.25 6.61522 6.61522 2.25 12 2.25C17.3848 2.25 21.75 6.61522 21.75 12C21.75 17.3848 17.3848 21.75 12 21.75C6.61522 21.75 2.25 17.3848 2.25 12ZM15.6103 10.1859C15.8511 9.84887 15.773 9.38046 15.4359 9.1397C15.0989 8.89894 14.6305 8.97701 14.3897 9.31407L11.1543 13.8436L9.53033 12.2197C9.23744 11.9268 8.76256 11.9268 8.46967 12.2197C8.17678 12.5126 8.17678 12.9874 8.46967 13.2803L10.7197 15.5303C10.8756 15.6862 11.0921 15.7656 11.3119 15.7474C11.5316 15.7293 11.7322 15.6153 11.8603 15.4359L15.6103 10.1859Z"/>
                            </svg>
                        </div>
                        <div class="pl-3">Bavaria ipsum dolor sit amet ebba gscheckate Weibaleid</div>
                    </div>
                    <div class="flex my-2">
                        <div class="w-6 h-6 mt-0.5">
                            <svg class="fill-primary" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.25 12C2.25 6.61522 6.61522 2.25 12 2.25C17.3848 2.25 21.75 6.61522 21.75 12C21.75 17.3848 17.3848 21.75 12 21.75C6.61522 21.75 2.25 17.3848 2.25 12ZM15.6103 10.1859C15.8511 9.84887 15.773 9.38046 15.4359 9.1397C15.0989 8.89894 14.6305 8.97701 14.3897 9.31407L11.1543 13.8436L9.53033 12.2197C9.23744 11.9268 8.76256 11.9268 8.46967 12.2197C8.17678 12.5126 8.17678 12.9874 8.46967 13.2803L10.7197 15.5303C10.8756 15.6862 11.0921 15.7656 11.3119 15.7474C11.5316 15.7293 11.7322 15.6153 11.8603 15.4359L15.6103 10.1859Z"/>
                            </svg>
                        </div>
                        <div class="pl-3">Bavaria ipsum dolor sit amet ebba gscheckate Weibaleid</div>
                    </div>
                    <div class="flex my-2">
                        <div class="w-6 h-6 mt-0.5">
                            <svg class="fill-primary" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.25 12C2.25 6.61522 6.61522 2.25 12 2.25C17.3848 2.25 21.75 6.61522 21.75 12C21.75 17.3848 17.3848 21.75 12 21.75C6.61522 21.75 2.25 17.3848 2.25 12ZM15.6103 10.1859C15.8511 9.84887 15.773 9.38046 15.4359 9.1397C15.0989 8.89894 14.6305 8.97701 14.3897 9.31407L11.1543 13.8436L9.53033 12.2197C9.23744 11.9268 8.76256 11.9268 8.46967 12.2197C8.17678 12.5126 8.17678 12.9874 8.46967 13.2803L10.7197 15.5303C10.8756 15.6862 11.0921 15.7656 11.3119 15.7474C11.5316 15.7293 11.7322 15.6153 11.8603 15.4359L15.6103 10.1859Z"/>
                            </svg>
                        </div>
                        <div class="pl-3">Bavaria ipsum dolor sit amet ebba gscheckate Weibaleid</div>
                    </div>
                </div>
            </div>
            <div class="col-span-1 md:col-span-6">
                <img class="pl-0 md:pl-8" src="/assets/img/caeli_case.png" alt="Visual for Caeli Wind Investment"/>
            </div>
            <div class="col-start-1 md:col-start-3 col-span-1 md:col-span-9 text-center text-lg md:text-xl w-full bg-gray-ultra-light rounded-2xl px-4 pt-14 pb-8 md:pb-[87px] relative overflow-visible mt-8 md:mt-24">
                <svg class="fill-gray-light w-16 h-16 absolute -top-4 left-8" viewBox="0 0 64 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M38.2886 45.2276C36.6881 45.8988 36.0169 47.8091 36.7397 49.358L39.2695 54.6758C39.9924 56.1725 41.7477 56.8442 43.2966 56.1725C47.6851 54.3139 51.454 51.8873 54.4485 48.9444C58.1142 45.4858 60.5924 41.5103 61.9347 37.1219C63.2771 32.6812 63.9999 26.6412 63.9999 18.9484V3.09826C63.9999 1.3945 62.6059 0.000511696 60.9021 0.000511845L40.6119 0.000513619C38.9081 0.000513768 37.5142 1.3945 37.5142 3.09826V23.3885C37.5142 25.0928 38.9081 26.4863 40.6119 26.4863H50.3182C50.2149 31.7013 48.9758 35.8828 46.7041 39.0327C44.8455 41.5615 42.0575 43.6266 38.2886 45.2276Z"/>
                    <path d="M1.83842 45.2276C0.237912 45.8988 -0.43275 47.8091 0.289542 49.358L2.81937 54.6236C3.54218 56.1209 5.29757 56.7921 6.84645 56.1209C11.1833 54.2622 14.9011 51.8357 17.9467 48.9444C21.6129 45.4336 24.1422 41.4582 25.4851 37.0697C26.8274 32.7334 27.4981 26.6923 27.4981 18.9479L27.4981 3.09775C27.4981 1.39399 26.1041 -1.48948e-07 24.4004 0L4.11009 1.77383e-06C2.40633 1.92278e-06 1.01235 1.39399 1.01235 3.09775L1.01235 23.388C1.01235 25.0923 2.40634 26.4858 4.1101 26.4858H13.868C13.7647 31.7008 12.5251 35.8823 10.254 39.0322C8.39532 41.5615 5.60734 43.6266 1.83842 45.2276Z"/>
                </svg>
                Twip helped us to Bavaria ipsum dolor sit amet ebba gscheckate Weibaleid Schuabladdla Gidarn imma, imma a bravs: Ham pfiad de Ohrwaschl Watschnbaam Trachtnhuat, Obazda! Na Radi da Bavaria
                <div class="absolute bottom-[-4.5rem] md:bottom-[-6.5rem] left-8 flex items-center">
                    <div class="w-[90px] md:w-36 h-[90px] md:h-36 rounded-2xl shadow shadow-gray/20 overflow-hidden">
                        <img src="/assets/img/caeli_andreasRieckhoff.jpg" alt="picture of Andreas Rieckhoff"/>
                    </div>
                    <div class="text-left ml-4">
                        <div class="font-bold text-lg">Andreas Rieckhoff</div>
                        <div class="text-sm md:text-base">CTO, Caeli Wind GmbH</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>