/* 
/* 
/*  custom.css
/*
/*  If not using Gulp and Sass, add your custom CSS below then include it
/*  in your page by adding a reference to assets/css/custom.css in the head of each page.
/*
*/

/* TODO: Delete wenn Illustrationen ausgetauscht sind */
img[alt="Image"] {
    filter: grayscale(1) brightness(1.9) contrast(1.5);
    opacity: 0.15;
}

/*
img[alt="Image"] {
    filter: hue-rotate(237deg) brightness(2);
}*/


/* Navbar Item Abstand erhöhen */
@media (min-width: 1200px) {
    .navbar-nav > .nav-item {
        padding: 0 15px;
    }
}

@media (min-width: 992px) {
    .section-title {
      margin-bottom: 6rem; 
    }
}

.navbar[data-sticky="top"] {
    transition: all 0.5s ease-in-out, box-shadow 2.5s ease-in-out;
}

.navbar[data-sticky="top"].scrolled {
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 250px;
}

.countingNumber > div > div {
    background: rgba(0,0,0,0.05);
    border-radius: 15px;
    color: rgba(0,0,0,0.65);
}
.countingNumber > div {
    transform: scale(0.85);
}

.companyLogo {
    max-width: 70%;
    height: 100px;
    margin-bottom: 25px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.companyLogo > img {
    max-height: 100%;
    max-width: 95%;
}

.card.bg-white {
    background-color: rgba(255, 255, 255, 0.15) !important;
}


.assetDetails {
    text-align: center;
}
.assetDetails > p {
    text-align: justify;
}

.text-darkblue {
    color: #084B8E;
}

a.text-darkblue:hover, a.text-darkblue:hover:focus {
    color: #074481;
}

html {
    scroll-behavior: smooth;
}

.nav-link.active {
    position: relative;
    text-decoration: none;
    color: rgb(21, 21, 21);
}
.nav-link.active::before {
    content: "";
    position: absolute;
    left: 10%;
    bottom: 12px;
    width: 85%;
    height: 10px;
    background-color: rgba(255, 193, 7, 0.4);
    z-index: -1;
}
.btn-back-to-top {
    bottom: 2.75rem !important;
}
.contactSticky {
    right: 5.75rem;
    /* bottom: 5.75rem; */
}

/* Bei hellblauem Hintergrund die Color leicht abdunkeln */
.bg-primary-3 {
    color: rgba(0,0,0,0.8);
}

::selection {
    background: rgba(255, 218, 83, 0.5); /* WebKit/Blink Browsers */
  }
::-moz-selection {
background: rgba(255, 218, 83, 0.5); /* Gecko Browsers */
}