    <a href={{sec.stickyMail.mailTemplate}}
        class="btn btn-primary rounded-circle btn-back-to-top contactSticky" data-aos-delay="50" data-smooth-scroll
        data-aos="fade-up" data-aos-offset="750" data-aos-mirror="true" data-aos-once="false">
        <img src="/assets/img/icons/interface/icon-mail.svg" alt="Icon" class="icon bg-black" data-inject-svg>
    </a>