    <a href="#top" class="btn btn-primary rounded-circle btn-back-to-top" data-smooth-scroll data-aos="fade-up"
        data-aos-offset="750" data-aos-mirror="true" data-aos-once="false">
        <img src="/assets/img/icons/interface/icon-arrow-up.svg" alt="Icon" class="icon bg-black" data-inject-svg>
    </a>