<div class="mx-auto max-w-1080 mb-8 px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 items-center text-left">
        <div class="flex flex-col items-start gap-8 mt-8">
            <h1 class="text-4xl md:text-6xl font-extrabold text-secondary leading-[2.475rem]  md:leading-[3.85rem]">
                If your tech makes<br/>
                the world better,<br/>
                <span class="text-primary">we invest to make<br/>you better.</span>
            </h1>
            <a class="rounded-xl py-2 px-6 text-secondary bg-tertiary font-extrabold shadow shadow-tertiary/40 transition transition-200 ease-linear hover:scale-105 hover:brightness-90 hover:shadow-hover hover:shadow-tertiary/60" target="_blank" title="Drop your Pitchdeck" href="/droppitchdeck.html">
                Pitch your deck!
            </a>
        </div>
        <div class="my-8">
            <img src="/assets/img/twip-hero-image.svg" alt="Hero image of a starting rocket"/>
        </div>
    </div>
    <div>
        <h2 class="text-primary font-extrabold text-xl">We support innovative tech startups with:</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 items-center text-left text-base font-normal mt-4 md:mt-8">
            <div class="flex items-center text-secondary">
                <div>
                    <svg class="stroke-primary w-12 h-12" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.5 37.5C15.4344 37.5 26.0272 38.9625 36.0935 41.7024C37.5475 42.0982 39 41.0172 39 39.5103V37.5M7.5 9V10.5C7.5 11.3284 6.82843 12 6 12H4.5M4.5 12V11.25C4.5 10.0074 5.50736 9 6.75 9H40.5M4.5 12V30M40.5 9V10.5C40.5 11.3284 41.1716 12 42 12H43.5M40.5 9H41.25C42.4926 9 43.5 10.0074 43.5 11.25V30.75C43.5 31.9926 42.4926 33 41.25 33H40.5M43.5 30H42C41.1716 30 40.5 30.6716 40.5 31.5V33M40.5 33H7.5M7.5 33H6.75C5.50736 33 4.5 31.9926 4.5 30.75V30M7.5 33V31.5C7.5 30.6716 6.82843 30 6 30H4.5M30 21C30 24.3137 27.3137 27 24 27C20.6863 27 18 24.3137 18 21C18 17.6863 20.6863 15 24 15C27.3137 15 30 17.6863 30 21ZM36 21H36.015V21.015H36V21ZM12 21H12.015V21.015H12V21Z" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="mx-4 my-1.5 lg:my-0 font-extrabold">
                    dedicated capital<br/>investment
                </div>
            </div>
            <div class="flex items-center text-secondary">
                <div>
                    <svg class="fill-primary w-12 h-12" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M28.8947 6.05323C29.6939 6.2712 30.1651 7.09582 29.9471 7.89505L20.9471 40.8951C20.7292 41.6943 19.9046 42.1655 19.1053 41.9475C18.3061 41.7295 17.8349 40.9049 18.0529 40.1057L27.0529 7.1057C27.2708 6.30646 28.0954 5.83526 28.8947 6.05323ZM33.4393 12.4397C34.0251 11.8539 34.9749 11.8539 35.5607 12.4397L46.0607 22.9397C46.6464 23.5255 46.6464 24.4753 46.0607 25.061L35.5607 35.561C34.9749 36.1468 34.0251 36.1468 33.4393 35.561C32.8536 34.9753 32.8536 34.0255 33.4393 33.4397L42.8787 24.0004L33.4393 14.561C32.8536 13.9752 32.8536 13.0255 33.4393 12.4397ZM14.5607 12.4397C15.1464 13.0255 15.1464 13.9753 14.5607 14.561L5.12132 24.0004L14.5607 33.4397C15.1464 34.0255 15.1464 34.9753 14.5607 35.561C13.9749 36.1468 13.0251 36.1468 12.4393 35.561L1.93934 25.061C1.35355 24.4753 1.35355 23.5255 1.93934 22.9397L12.4393 12.4397C13.0251 11.8539 13.9749 11.8539 14.5607 12.4397Z"/>
                    </svg>
                </div>
                <div class="mx-4 my-1.5 lg:my-0 font-extrabold">
                    software<br/>development
                </div>
            </div>
            <div class="flex items-center text-secondary">
                <div>
                    <svg class="stroke-primary w-12 h-12" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.5 6V28.5C7.5 30.9853 9.51472 33 12 33H16.5M7.5 6H4.5M7.5 6H40.5M40.5 6H43.5M40.5 6V28.5C40.5 30.9853 38.4853 33 36 33H31.5M16.5 33H31.5M16.5 33L14.5 39M31.5 33L33.5 39M33.5 39L34.5 42M33.5 39H14.5M14.5 39L13.5 42M15 24L21 18L25.2952 22.2952C27.3084 19.406 29.9408 16.9805 33 15.2108" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="mx-4 my-1.5 lg:my-0 font-extrabold">
                    IT, process &<br/>growth support
                </div>
            </div>
        </div>
    </div>
</div>