  <footer class="bg-primary-3 text-white links-white pb-4 footer-1" style="background: #04294e !important;">
    <div class="container">
      <div
        class="row flex-column flex-lg-row align-items-center justify-content-center justify-content-lg-between text-center text-lg-left">
        <div class="col-auto">
          <div class="d-flex flex-column flex-sm-row align-items-center text-small">
            <div class="text-muted">&copy; 2021 TWIP Venture Studio GmbH & Co. KG&emsp;|&emsp;<a href="/imprint.html"
                target="_blank">{{sec.footer.imprint}}</a>&emsp;|&emsp;<a href="/dataprivacy.html"
                target="_blank">{{sec.footer.dataprivacy}}</a>
            </div>
          </div>
        </div>
        <div class="col-auto mt-3 mt-lg-0">
          <ul class="list-unstyled d-flex mb-0">
            <li class="mx-3">
              <a href="https://www.linkedin.com/company/twip-venture-studio/" target="_blank" class="hover-fade-out">
                <img src="/assets/img/icons/social/linkedin.svg" alt="LinkedIn" class="icon icon-xs bg-white"
                  data-inject-svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>