<section class="relative overflow-hidden md:overflow-visible z-10 bg-white pt-10 md:pt-20 md:pb-16 md:pb-32">
    <span id="faq" class="sectionMarker absolute top-[-70px] md:top-[-100px]"></span>
    <div class="mx-auto max-w-1080 px-4 relative">
        <div class="grid grid-cols-1 md:grid-cols-12">
            <div class="col-span-8 uppercase text-secondary text-lg md:text-xl font-extrabold">FAQ</div>
            <div class="col-span-8 text-primary mt-4 mb-4 md:mb-8 text-3.5xl md:text-5xl leading-[3rem] font-extrabold">Want to know more? We are frequently asked:</div>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-12 text-secondary mt-16 mb-32">
            <div id="faqTabs" class="lg:col-start-3 col-span-8">
                <div class="grid grid-cols-8 overflow-hidden faqTab">
                    <input class="absolute opacity-0 -z-1" type="radio" id="faqRd1" value="faqRd1" name="faqRd">
                    <label for="faqRd1" class="col-span-8 grid grid-cols-8 cursor-pointer">
                        <div class="col-span-7 text-lg md:text-xl font-extrabold">What startups does Twip invest in? </div>
                        <div class="col-span-1 faqArrow">
                            <div class="w-12 h-12 ml-auto transition duration-700 ease-in-out">
                                <svg class="fill-tertiary" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M25.0607 32.5607C24.4749 33.1464 23.5251 33.1464 22.9393 32.5607L7.93934 17.5607C7.35355 16.9749 7.35355 16.0251 7.93934 15.4393C8.52513 14.8536 9.47487 14.8536 10.0607 15.4393L24 29.3787L37.9393 15.4393C38.5251 14.8536 39.4749 14.8536 40.0607 15.4393C40.6464 16.0251 40.6464 16.9749 40.0607 17.5607L25.0607 32.5607Z"/>
                                </svg>
                            </div>
                        </div>                        
                    </label>
                    <div class="faqContent col-span-7 text-base max-h-0">You should be as passionate about the UN’s SDGs as we are. Ideally, you have a cleantech or healthtech focus, but if you can convince us of the sustainable value of your project in any other industry, we will be happy to support you there, too. You should be an early stage startup with a viable business and a clear focus on offering a digital, tech-based IT solution that will deliver a sustainable, measurable impact on our planet and the people living on it.</div>
                </div>

                <div class="w-full h-0.5 bg-tertiary my-8"></div>

                <div class="grid grid-cols-8 overflow-hidden faqTab">
                    <input class="absolute opacity-0 -z-1" type="radio" id="faqRd2" value="faqRd2" name="faqRd">
                    <label for="faqRd2" class="col-span-8 grid grid-cols-8 cursor-pointer">
                        <div class="col-span-7 text-lg md:text-xl font-extrabold">What is Twip looking for in a startup?</div>
                        <div class="col-span-1 faqArrow">
                            <div class="w-12 h-12 ml-auto transition duration-700 ease-in-out">
                                <svg class="fill-tertiary" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M25.0607 32.5607C24.4749 33.1464 23.5251 33.1464 22.9393 32.5607L7.93934 17.5607C7.35355 16.9749 7.35355 16.0251 7.93934 15.4393C8.52513 14.8536 9.47487 14.8536 10.0607 15.4393L24 29.3787L37.9393 15.4393C38.5251 14.8536 39.4749 14.8536 40.0607 15.4393C40.6464 16.0251 40.6464 16.9749 40.0607 17.5607L25.0607 32.5607Z"/>
                                </svg>
                            </div>
                        </div>                        
                    </label>
                    <div class="faqContent col-span-7 text-base max-h-0">Our top priority is to create added value with all of our investments. Therefore, we only invest in you if we see a high potential a) in your business case to make an impact with your digital technology and b) in our investment to make a contribution to your success with our IT competence: the development of individual software solutions with state-of-the-art tech stacks. We also look for entrepreneurial spirit, customer focus and dedicated IT, industry, & market expertise in your team. If you share a passion to grow – your company, your impact, your team – we love to work with you.</div>
                </div>

                <div class="w-full h-0.5 bg-tertiary my-8"></div>

                <div class="grid grid-cols-8 overflow-hidden faqTab">
                    <input class="absolute opacity-0 -z-1" type="radio" id="faqRd3" value="faqRd3" name="faqRd">
                    <label for="faqRd3" class="col-span-8 grid grid-cols-8 cursor-pointer">
                        <div class="col-span-7 text-lg md:text-xl font-extrabold">What is the Twip investment model?</div>
                        <div class="col-span-1 faqArrow">
                            <div class="w-12 h-12 ml-auto transition duration-700 ease-in-out">
                                <svg class="fill-tertiary" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M25.0607 32.5607C24.4749 33.1464 23.5251 33.1464 22.9393 32.5607L7.93934 17.5607C7.35355 16.9749 7.35355 16.0251 7.93934 15.4393C8.52513 14.8536 9.47487 14.8536 10.0607 15.4393L24 29.3787L37.9393 15.4393C38.5251 14.8536 39.4749 14.8536 40.0607 15.4393C40.6464 16.0251 40.6464 16.9749 40.0607 17.5607L25.0607 32.5607Z"/>
                                </svg>
                            </div>
                        </div>                        
                    </label>
                    <div class="faqContent col-span-7 text-base max-h-0">Our typical first investment ticket size is EUR 100 – 500k, depending on due diligence. We do not invest cash, all of Twip’s capital investment is tied exclusively into our IT services. If it makes sense, we consider follow-up investments and participate in ensuing rounds. Twip does not act as a lead investor, as a tech expert we go along with the investment assessments of your industry leads. Our investment periods are not fixed, we adjust our exit strategy to your individual situation and requirements.</div>
                </div>

                <div class="w-full h-0.5 bg-tertiary my-8"></div>

                <div class="grid grid-cols-8 overflow-hidden faqTab">
                    <input class="absolute opacity-0 -z-1" type="radio" id="faqRd4" value="faqRd4" name="faqRd">
                    <label for="faqRd4" class="col-span-8 grid grid-cols-8 cursor-pointer">
                        <div class="col-span-7 text-lg md:text-xl font-extrabold">What happens in a Twip Pitch Workshop?</div>
                        <div class="col-span-1 faqArrow">
                            <div class="w-12 h-12 ml-auto transition duration-700 ease-in-out">
                                <svg class="fill-tertiary" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M25.0607 32.5607C24.4749 33.1464 23.5251 33.1464 22.9393 32.5607L7.93934 17.5607C7.35355 16.9749 7.35355 16.0251 7.93934 15.4393C8.52513 14.8536 9.47487 14.8536 10.0607 15.4393L24 29.3787L37.9393 15.4393C38.5251 14.8536 39.4749 14.8536 40.0607 15.4393C40.6464 16.0251 40.6464 16.9749 40.0607 17.5607L25.0607 32.5607Z"/>
                                </svg>
                            </div>
                        </div>                        
                    </label>
                    <div class="faqContent col-span-7 text-base max-h-0">Typically, your founder team meets with 3 of our Twip experts for 2 to 3 hours in a workshop format, to deepen our understanding of your scope and your technology: What makes you unique and why should we invest in you? What are your business model’s key success factors? What is the USP of your technology? Which SDG (or other) problem do you solve? What impact do you want to have by when? Who are your customers and what are their needs? Where and how big are your markets? Who are your competitors? What expertise is in your IT team? What are your biggest challenges, process-wise and technology-wise? How do you expect us to best support you for reaping biggest possible benefits from our investment? If, at the end of the Pitch Workshop, we both decide to continue, the next step will be a Due Diligence, followed by our investment decision.</div>
                </div>

                <div class="w-full h-0.5 bg-tertiary my-8"></div>

                <div class="grid grid-cols-8 overflow-hidden faqTab">
                    <input class="absolute opacity-0 -z-1" type="radio" id="faqRd5" value="faqRd5" name="faqRd">
                    <label for="faqRd5" class="col-span-8 grid grid-cols-8 cursor-pointer">
                        <div class="col-span-7 text-lg md:text-xl font-extrabold">How is a Twip investment implemented?</div>
                        <div class="col-span-1 faqArrow">
                            <div class="w-12 h-12 ml-auto transition duration-700 ease-in-out">
                                <svg class="fill-tertiary" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M25.0607 32.5607C24.4749 33.1464 23.5251 33.1464 22.9393 32.5607L7.93934 17.5607C7.35355 16.9749 7.35355 16.0251 7.93934 15.4393C8.52513 14.8536 9.47487 14.8536 10.0607 15.4393L24 29.3787L37.9393 15.4393C38.5251 14.8536 39.4749 14.8536 40.0607 15.4393C40.6464 16.0251 40.6464 16.9749 40.0607 17.5607L25.0607 32.5607Z"/>
                                </svg>
                            </div>
                        </div>                        
                    </label>
                    <div class="faqContent col-span-7 text-base max-h-0">We support you with what we know best: The purpose of any Twip investment is to help you develop your software as fast and efficiently as possible. To achieve the agreed project objectives we put together a dedicated team of experts with the required skills and expertise to accompany you along the way, either in cooperation with you or in mixed teams. For this, we draw from the strong professional network of MaibornWolff and QAware to bring you exactly the tech stack and the skills (mobile, data, cloud, IoT, UX/UI design etc.) support you need. To build your team and speed up your growth, we assist you in your recruiting, and, if required, enable participation in the high-quality IT training and education programs of MaibornWolff and QAware.</div>
                </div>

                <div class="w-full h-0.5 bg-tertiary my-8"></div>

                <div class="grid grid-cols-8 overflow-hidden faqTab">
                    <input class="absolute opacity-0 -z-1" type="radio" id="faqRd6" value="faqRd6" name="faqRd">
                    <label for="faqRd6" class="col-span-8 grid grid-cols-8 cursor-pointer">
                        <div class="col-span-7 text-lg md:text-xl font-extrabold">What is the role of MaibornWolff and QAware?</div>
                        <div class="col-span-1 faqArrow">
                            <div class="w-12 h-12 ml-auto transition duration-700 ease-in-out">
                                <svg class="fill-tertiary" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M25.0607 32.5607C24.4749 33.1464 23.5251 33.1464 22.9393 32.5607L7.93934 17.5607C7.35355 16.9749 7.35355 16.0251 7.93934 15.4393C8.52513 14.8536 9.47487 14.8536 10.0607 15.4393L24 29.3787L37.9393 15.4393C38.5251 14.8536 39.4749 14.8536 40.0607 15.4393C40.6464 16.0251 40.6464 16.9749 40.0607 17.5607L25.0607 32.5607Z"/>
                                </svg>
                            </div>
                        </div>                        
                    </label>
                    <div class="faqContent col-span-7 text-base max-h-0">Twip is a joint effort of these two successful software development companies. Both companies foster a strong passion for social and environmental impact in their culture and many of the experts working at MaibornWolff and QAware have the desire to contribute to this purpose, even beyond their everyday work with large corporations and organizations. In fact, one of the many good reasons why Twip was founded actually was to enable these experts to help startups be successful with their software development expertise and the powerful resources of MaibornWolff and QAware. With the Twip investment, startups benefit from the same top level software services and expertise as the big industry players traditionally working with MaibornWolff and QAware. We at Twip are very proud of the support of these dedicated experts and of the strong investment USP we can offer you thanks to their commitment.</div>
                </div>
                
                <!--
                <div class="w-full h-0.5 bg-tertiary my-8"></div>
                <div class="grid grid-cols-8 overflow-hidden faqTab">
                    <input class="absolute opacity-0 -z-1" type="radio" id="faqRd7" value="faqRd7" name="faqRd">
                    <label for="faqRd7" class="col-span-8 grid grid-cols-8 cursor-pointer">
                        <div class="col-span-7 text-lg md:text-xl font-extrabold">Which technologies does Twip support?</div>
                        <div class="col-span-1 faqArrow">
                            <div class="w-12 h-12 ml-auto transition duration-700 ease-in-out">
                                <svg class="fill-tertiary" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M25.0607 32.5607C24.4749 33.1464 23.5251 33.1464 22.9393 32.5607L7.93934 17.5607C7.35355 16.9749 7.35355 16.0251 7.93934 15.4393C8.52513 14.8536 9.47487 14.8536 10.0607 15.4393L24 29.3787L37.9393 15.4393C38.5251 14.8536 39.4749 14.8536 40.0607 15.4393C40.6464 16.0251 40.6464 16.9749 40.0607 17.5607L25.0607 32.5607Z"/>
                                </svg>
                            </div>
                        </div>                        
                    </label>
                    <div class="faqContent col-span-7 text-base max-h-0">Basically all! We can support any complex software development. With > 1.000 IT experts we bring you the tech stack support you require (mobile, data, cloud, IoT etc.). We help you with UX/UI and design. To build expertise in your own team, we assist you in your recruiting efforts and can enable access to the high quality IT education and training programs of MaibornWolff and/or QAware.</div>
                </div>
                -->

            </div>
        </div>

    </div>
</section>

<script>
    let currentVal;
    document.querySelectorAll("#faqTabs input").forEach( (inputEl) => {
            inputEl.addEventListener("click", (ev) => {
                if (currentVal == ev.target.value) {
                    document.querySelector('#faqTabs input[name="faqRd"]:checked').checked = false;
                    currentVal = undefined;
                } else {
                    currentVal = ev.target.value;
                }
            });
    });
    
</script>

