<section class="relative overflow-hidden bg-white pt-10 md:pt-20 pb-28 sm:py-16">
    <span id="investment" class="sectionMarker absolute  top-[-70px] md:top-[-100px]"></span>
    <div class="absolute max-w-[85%] w-[500px] top-8 md:top-16 right-0">
        <img src="/assets/img/twip-planet.svg" alt="Twip Planet Illustration"/>
    </div>
    <div class="mx-auto max-w-1080 px-4 relative">
        <div class="grid grid-cols-1 md:grid-cols-12">
            <div class="col-span-8 uppercase text-secondary text-lg md:text-xl font-extrabold">Our Investment</div>
            <div class="col-span-8 text-primary mt-4 mb-4 md:mb-8 text-3.5xl md:text-5xl leading-[3rem] font-extrabold">You deliver innovation. Viable business. Sustainable impact.</div>
        </div>
        <div class="text-secondary font-extrabold text-xl md:text-lg mt-4 md:mt-16 mb-4 md:mb-8">We deliver:</div>
        <div class="grid grid-cols-1 md:grid-cols-12 gap-4 md:gap-8 text-secondary">
            <div class="col-span-5 bg-primary min-h-[180px] rounded-2xl px-4 pb-4 flex flex-col gap-2">
                <div class="flex flex-row justify-between">
                    <div class="pt-4 font-extrabold text-xl md:text-lg">
                        Capital<br/>Investment
                    </div>
                    <div class="w-[100px]">
                        <svg viewBox="0 0 100 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.4">
                            <circle cx="3.03503" cy="52.2699" r="1.03503" fill="white"/>
                            <circle cx="28.6522" cy="52.2699" r="1.03503" fill="white"/>
                            <circle cx="20.1136" cy="52.2699" r="1.03503" fill="white"/>
                            <circle cx="45.7299" cy="52.2699" r="1.03503" fill="white"/>
                            <circle cx="11.5729" cy="52.2699" r="1.03503" fill="white"/>
                            <circle cx="37.1918" cy="52.2699" r="1.03503" fill="white"/>
                            <circle cx="3.03503" cy="86.4261" r="1.03503" fill="white"/>
                            <circle cx="28.6522" cy="86.4261" r="1.03503" fill="white"/>
                            <circle cx="20.1136" cy="86.4261" r="1.03503" fill="white"/>
                            <circle cx="45.7299" cy="86.4261" r="1.03503" fill="white"/>
                            <circle cx="11.5729" cy="86.4261" r="1.03503" fill="white"/>
                            <circle cx="37.1918" cy="86.4261" r="1.03503" fill="white"/>
                            <circle cx="3.03503" cy="69.3475" r="1.03503" fill="white"/>
                            <circle cx="28.6522" cy="69.3475" r="1.03503" fill="white"/>
                            <circle cx="20.1136" cy="69.3475" r="1.03503" fill="white"/>
                            <circle cx="45.7299" cy="69.3475" r="1.03503" fill="white"/>
                            <circle cx="11.5729" cy="69.3475" r="1.03503" fill="white"/>
                            <circle cx="37.1918" cy="69.3475" r="1.03503" fill="white"/>
                            <circle cx="3.03503" cy="60.809" r="1.03503" fill="white"/>
                            <circle cx="28.6522" cy="60.809" r="1.03503" fill="white"/>
                            <circle cx="20.1136" cy="60.809" r="1.03503" fill="white"/>
                            <circle cx="45.7299" cy="60.809" r="1.03503" fill="white"/>
                            <circle cx="11.5729" cy="60.809" r="1.03503" fill="white"/>
                            <circle cx="37.1918" cy="60.809" r="1.03503" fill="white"/>
                            <circle cx="3.03503" cy="77.8866" r="1.03503" fill="white"/>
                            <circle cx="28.6522" cy="77.8866" r="1.03503" fill="white"/>
                            <circle cx="20.1136" cy="77.8866" r="1.03503" fill="white"/>
                            <circle cx="45.7299" cy="77.8866" r="1.03503" fill="white"/>
                            <circle cx="11.5729" cy="77.8866" r="1.03503" fill="white"/>
                            <circle cx="37.1918" cy="77.8866" r="1.03503" fill="white"/>
                            <circle cx="54.2701" cy="52.2699" r="1.03503" fill="white"/>
                            <circle cx="79.8876" cy="52.2699" r="1.03503" fill="white"/>
                            <circle cx="71.3483" cy="52.2699" r="1.03503" fill="white"/>
                            <circle cx="96.965" cy="52.2699" r="1.03503" fill="white"/>
                            <circle cx="62.808" cy="52.2699" r="1.03503" fill="white"/>
                            <circle cx="88.4271" cy="52.2699" r="1.03503" fill="white"/>
                            <circle cx="54.2701" cy="86.4261" r="1.03503" fill="white"/>
                            <circle cx="79.8876" cy="86.4261" r="1.03503" fill="white"/>
                            <circle cx="71.3483" cy="86.4261" r="1.03503" fill="white"/>
                            <circle cx="96.965" cy="86.4261" r="1.03503" fill="white"/>
                            <circle cx="62.808" cy="86.4261" r="1.03503" fill="white"/>
                            <circle cx="88.4271" cy="86.4261" r="1.03503" fill="white"/>
                            <circle cx="54.2701" cy="69.3475" r="1.03503" fill="white"/>
                            <circle cx="79.8876" cy="69.3475" r="1.03503" fill="white"/>
                            <circle cx="71.3483" cy="69.3475" r="1.03503" fill="white"/>
                            <circle cx="96.965" cy="69.3475" r="1.03503" fill="white"/>
                            <circle cx="62.808" cy="69.3475" r="1.03503" fill="white"/>
                            <circle cx="88.4271" cy="69.3475" r="1.03503" fill="white"/>
                            <circle cx="54.2701" cy="60.8085" r="1.03503" fill="white"/>
                            <circle cx="79.8876" cy="60.8085" r="1.03503" fill="white"/>
                            <circle cx="71.3483" cy="60.8085" r="1.03503" fill="white"/>
                            <circle cx="96.965" cy="60.8085" r="1.03503" fill="white"/>
                            <circle cx="62.808" cy="60.8085" r="1.03503" fill="white"/>
                            <circle cx="88.4271" cy="60.8085" r="1.03503" fill="white"/>
                            <circle cx="54.2701" cy="77.8871" r="1.03503" fill="white"/>
                            <circle cx="79.8876" cy="77.8871" r="1.03503" fill="white"/>
                            <circle cx="71.3483" cy="77.8871" r="1.03503" fill="white"/>
                            <circle cx="96.965" cy="77.8871" r="1.03503" fill="white"/>
                            <circle cx="62.808" cy="77.8871" r="1.03503" fill="white"/>
                            <circle cx="88.4271" cy="77.8871" r="1.03503" fill="white"/>
                            </g>
                            <g opacity="0.5" filter="url(#filter0_f_262_5549)">
                            <circle cx="50" cy="45" r="35" fill="#A9F27D"/>
                            </g>
                            <g clip-path="url(#clip0_262_5549)">
                            <path d="M56.1422 26.9661L56.5997 28.9131M58.4299 36.7009L58.8874 38.6479M60.7176 46.4357L61.1751 48.3827M63.0053 56.1705L63.4628 58.1175M36.8965 49.9792L50.5252 46.7764M38.2691 55.8201L46.057 53.99M21.6128 33.0261C19.9999 33.4051 18.9997 35.0199 19.3787 36.6328L21.2249 44.4891C23.8692 45.2886 26.0267 47.4374 26.7042 50.32C27.3816 53.2026 26.4069 56.0874 24.3956 57.981L26.2418 65.8373C26.6208 67.4502 28.2356 68.4504 29.8485 68.0714L74.6286 57.548C76.2416 57.1689 77.2418 55.5541 76.8628 53.9412L75.0165 46.085C72.3723 45.2855 70.2147 43.1367 69.5373 40.2541C68.8599 37.3715 69.8346 34.4866 71.8459 32.593L69.9997 24.7368C69.6206 23.1239 68.0058 22.1236 66.3929 22.5027L21.6128 33.0261Z" stroke="#A9F27D" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <g clip-path="url(#clip1_262_5549)">
                            <path d="M57.549 28.7232L58.0666 30.655M60.1372 38.3825L60.6548 40.3143M62.7254 48.0417L63.243 49.9736M65.3136 57.701L65.8312 59.6328M39.0255 52.3215L52.5485 48.698M40.5784 58.1171L48.3058 56.0465M23.2239 35.85C21.6236 36.2788 20.6738 37.9238 21.1026 39.5242L23.1914 47.3195C25.8591 48.0367 28.0822 50.1176 28.8486 52.9779C29.615 55.8381 28.7302 58.7518 26.7785 60.7067L28.8672 68.502C29.296 70.1024 30.941 71.0522 32.5414 70.6233L76.974 58.7177C78.5744 58.2888 79.5242 56.6438 79.0953 55.0434L77.0066 47.2482C74.3389 46.5309 72.1158 44.45 71.3494 41.5898C70.583 38.7296 71.4678 35.8159 73.4195 33.8609L71.3308 26.0657C70.9019 24.4653 69.2569 23.5155 67.6565 23.9443L23.2239 35.85Z" stroke="#1E063A" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                            <filter id="filter0_f_262_5549" x="5" y="0" width="90" height="90" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                            <feGaussianBlur stdDeviation="5" result="effect1_foregroundBlur_262_5549"/>
                            </filter>
                            <clipPath id="clip0_262_5549">
                            <rect width="64" height="64" fill="white" transform="translate(9.52832 22.1694) rotate(-13.2247)"/>
                            </clipPath>
                            <clipPath id="clip1_262_5549">
                            <rect width="64" height="64" fill="white" transform="translate(10.8086 25.3726) rotate(-15)"/>
                            </clipPath>
                            </defs>
                            </svg>
                    </div>
                </div>
                <div class="text-base">
                    tied into IT services: Ticket sizes EUR 250 – 500k, as priced rounds & convertibles, typically in pre-seed & seed phase
                </div>
            </div>
            <div class="col-span-5 bg-primary min-h-[180px] rounded-2xl px-4 pb-4 flex flex-col gap-2">
                <div class="flex flex-row justify-between">
                    <div class="pt-4 font-extrabold text-xl md:text-lg">
                        Software technology<br/>expertise
                    </div>
                    <div class="w-[100px]">
                        <svg viewBox="0 0 100 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.4">
                        <circle cx="3.03503" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="28.6522" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="20.1136" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="45.7299" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="11.5729" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="37.1918" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="3.03503" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="28.6522" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="20.1136" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="45.7299" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="11.5729" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="37.1918" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="3.03503" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="28.6522" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="20.1136" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="45.7299" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="11.5729" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="37.1918" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="3.03503" cy="60.809" r="1.03503" fill="white"/>
                        <circle cx="28.6522" cy="60.809" r="1.03503" fill="white"/>
                        <circle cx="20.1136" cy="60.809" r="1.03503" fill="white"/>
                        <circle cx="45.7299" cy="60.809" r="1.03503" fill="white"/>
                        <circle cx="11.5729" cy="60.809" r="1.03503" fill="white"/>
                        <circle cx="37.1918" cy="60.809" r="1.03503" fill="white"/>
                        <circle cx="3.03503" cy="77.8866" r="1.03503" fill="white"/>
                        <circle cx="28.6522" cy="77.8866" r="1.03503" fill="white"/>
                        <circle cx="20.1136" cy="77.8866" r="1.03503" fill="white"/>
                        <circle cx="45.7299" cy="77.8866" r="1.03503" fill="white"/>
                        <circle cx="11.5729" cy="77.8866" r="1.03503" fill="white"/>
                        <circle cx="37.1918" cy="77.8866" r="1.03503" fill="white"/>
                        <circle cx="54.2701" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="79.8876" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="71.3483" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="96.965" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="62.808" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="88.4271" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="54.2701" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="79.8876" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="71.3483" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="96.965" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="62.808" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="88.4271" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="54.2701" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="79.8876" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="71.3483" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="96.965" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="62.808" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="88.4271" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="54.2701" cy="60.8085" r="1.03503" fill="white"/>
                        <circle cx="79.8876" cy="60.8085" r="1.03503" fill="white"/>
                        <circle cx="71.3483" cy="60.8085" r="1.03503" fill="white"/>
                        <circle cx="96.965" cy="60.8085" r="1.03503" fill="white"/>
                        <circle cx="62.808" cy="60.8085" r="1.03503" fill="white"/>
                        <circle cx="88.4271" cy="60.8085" r="1.03503" fill="white"/>
                        <circle cx="54.2701" cy="77.8871" r="1.03503" fill="white"/>
                        <circle cx="79.8876" cy="77.8871" r="1.03503" fill="white"/>
                        <circle cx="71.3483" cy="77.8871" r="1.03503" fill="white"/>
                        <circle cx="96.965" cy="77.8871" r="1.03503" fill="white"/>
                        <circle cx="62.808" cy="77.8871" r="1.03503" fill="white"/>
                        <circle cx="88.4271" cy="77.8871" r="1.03503" fill="white"/>
                        </g>
                        <g opacity="0.5" filter="url(#filter0_f_262_5834)">
                        <circle cx="50" cy="45" r="35" fill="#A9F27D"/>
                        </g>
                        <g clip-path="url(#clip0_262_5834)">
                        <path d="M58.3408 64.9072L34.5084 62.0758M58.3408 64.9072C62.7283 65.4285 65.8624 69.4077 65.3412 73.7952L25.6205 69.0761C26.1418 64.6887 30.121 61.5545 34.5084 62.0758M58.3408 64.9072L59.4026 55.9701C59.5981 54.3248 58.4228 52.8326 56.7775 52.6371L54.4694 52.3629M34.5084 62.0758L35.5702 53.1386C35.7657 51.4934 37.2579 50.318 38.9032 50.5135L41.2113 50.7877M54.4694 52.3629L41.2113 50.7877M54.4694 52.3629C53.3177 49.6852 52.7387 46.7246 52.8685 43.6538M41.2113 50.7877C42.9584 48.4544 44.2149 45.7119 44.8083 42.6962M33.1164 22.9352C30.4703 23.0044 27.8409 23.1581 25.2311 23.3938C25.5844 30.5991 30.7872 36.7743 37.955 38.2567M33.1164 22.9352L33.0334 23.6333C32.3703 29.2148 34.3365 34.5027 37.955 38.2567M33.1164 22.9352L33.5932 18.9222C39.5309 18.7941 45.5488 19.078 51.6156 19.7988C57.6824 20.5195 63.5993 21.6536 69.3417 23.1693L68.865 27.1823M37.955 38.2567C39.8379 40.2101 42.1682 41.7482 44.8083 42.6962M68.865 27.1823L68.782 27.8805C68.1189 33.4619 64.9685 38.142 60.5711 40.9437M68.865 27.1823C71.4212 27.8696 73.9414 28.6351 76.4233 29.4758C74.3916 36.3977 67.8867 41.1819 60.5711 40.9437M60.5711 40.9437C58.283 42.4015 55.6572 43.3508 52.8685 43.6538M52.8685 43.6538C51.5378 43.7984 50.17 43.7958 48.7842 43.6312C47.3983 43.4665 46.068 43.1485 44.8083 42.6962" stroke="#A9F27D" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <path d="M60.1288 67.1582L36.2201 65.0664M60.1288 67.1582C64.5302 67.5432 67.7862 71.4235 67.4011 75.825L27.5533 72.3387C27.9384 67.9373 31.8186 64.6814 36.2201 65.0664M60.1288 67.1582L60.9132 58.1924C61.0576 56.5419 59.8366 55.0868 58.1861 54.9424L55.8705 54.7398M36.2201 65.0664L37.0045 56.1007C37.1489 54.4501 38.604 53.2292 40.2546 53.3736L42.5701 53.5761M55.8705 54.7398L42.5701 53.5761M55.8705 54.7398C54.6365 52.0991 53.9661 49.1579 54.0006 46.0845M42.5701 53.5761C44.244 51.1898 45.4149 48.4097 45.9146 45.377M33.6161 25.9877C30.9734 26.1389 28.35 26.3739 25.7489 26.6905C26.3252 33.8813 31.7168 39.8923 38.9271 41.152M33.6161 25.9877L33.5549 26.6881C33.065 32.2875 35.194 37.5119 38.9271 41.152M33.6161 25.9877L33.9683 21.9619C39.8992 21.6499 45.9231 21.7473 52.0093 22.2797C58.0955 22.8122 64.0447 23.7624 69.8314 25.0995L69.4791 29.1253M38.9271 41.152C40.8696 43.0462 43.2464 44.5113 45.9146 45.377M69.4791 29.1253L69.4179 29.8257C68.928 35.4251 65.9241 40.2005 61.6156 43.137M69.4791 29.1253C72.0554 29.7331 74.5982 30.4201 77.1049 31.1835C75.2886 38.1651 68.9351 43.1485 61.6156 43.137M61.6156 43.137C59.3737 44.6651 56.7786 45.6952 54.0006 46.0845M54.0006 46.0845C52.675 46.2702 51.3079 46.31 49.9176 46.1884C48.5273 46.0668 47.1877 45.7901 45.9146 45.377" stroke="#1E063A" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                        <defs>
                        <filter id="filter0_f_262_5834" x="5" y="0" width="90" height="90" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                        <feGaussianBlur stdDeviation="5" result="effect1_foregroundBlur_262_5834"/>
                        </filter>
                        <clipPath id="clip0_262_5834">
                        <rect width="64" height="64" fill="white" transform="translate(20.5461 10.0654) rotate(6.77533)"/>
                        </clipPath>
                        </defs>
                        </svg>
                    </div>
                </div>
                <div class="text-base">
                    to mitigate your tech risk, speed up your development & ensure your quality
                </div>
            </div>
            <div class="col-span-5 bg-primary min-h-[180px] rounded-2xl px-4 pb-4 flex flex-col gap-2">
                <div class="flex flex-row justify-between">
                    <div class="pt-4 font-extrabold text-xl md:text-lg">
                        Experienced<br/>manpower
                    </div>
                    <div class="w-[100px]">
                        <svg viewBox="0 0 100 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.4">
                        <circle cx="3.03503" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="28.6522" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="20.1136" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="45.7299" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="11.5729" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="37.1918" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="3.03503" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="28.6522" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="20.1136" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="45.7299" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="11.5729" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="37.1918" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="3.03503" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="28.6522" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="20.1136" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="45.7299" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="11.5729" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="37.1918" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="3.03503" cy="60.809" r="1.03503" fill="white"/>
                        <circle cx="28.6522" cy="60.809" r="1.03503" fill="white"/>
                        <circle cx="20.1136" cy="60.809" r="1.03503" fill="white"/>
                        <circle cx="45.7299" cy="60.809" r="1.03503" fill="white"/>
                        <circle cx="11.5729" cy="60.809" r="1.03503" fill="white"/>
                        <circle cx="37.1918" cy="60.809" r="1.03503" fill="white"/>
                        <circle cx="3.03503" cy="77.8866" r="1.03503" fill="white"/>
                        <circle cx="28.6522" cy="77.8866" r="1.03503" fill="white"/>
                        <circle cx="20.1136" cy="77.8866" r="1.03503" fill="white"/>
                        <circle cx="45.7299" cy="77.8866" r="1.03503" fill="white"/>
                        <circle cx="11.5729" cy="77.8866" r="1.03503" fill="white"/>
                        <circle cx="37.1918" cy="77.8866" r="1.03503" fill="white"/>
                        <circle cx="54.2701" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="79.8876" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="71.3483" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="96.965" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="62.808" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="88.4271" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="54.2701" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="79.8876" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="71.3483" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="96.965" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="62.808" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="88.4271" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="54.2701" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="79.8876" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="71.3483" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="96.965" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="62.808" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="88.4271" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="54.2701" cy="60.8085" r="1.03503" fill="white"/>
                        <circle cx="79.8876" cy="60.8085" r="1.03503" fill="white"/>
                        <circle cx="71.3483" cy="60.8085" r="1.03503" fill="white"/>
                        <circle cx="96.965" cy="60.8085" r="1.03503" fill="white"/>
                        <circle cx="62.808" cy="60.8085" r="1.03503" fill="white"/>
                        <circle cx="88.4271" cy="60.8085" r="1.03503" fill="white"/>
                        <circle cx="54.2701" cy="77.8871" r="1.03503" fill="white"/>
                        <circle cx="79.8876" cy="77.8871" r="1.03503" fill="white"/>
                        <circle cx="71.3483" cy="77.8871" r="1.03503" fill="white"/>
                        <circle cx="96.965" cy="77.8871" r="1.03503" fill="white"/>
                        <circle cx="62.808" cy="77.8871" r="1.03503" fill="white"/>
                        <circle cx="88.4271" cy="77.8871" r="1.03503" fill="white"/>
                        </g>
                        <g opacity="0.5" filter="url(#filter0_f_262_5905)">
                        <circle cx="50" cy="45" r="35" fill="#A9F27D"/>
                        </g>
                        <g clip-path="url(#clip0_262_5905)">
                        <path d="M28.633 38.2745C27.2559 43.7074 26.1515 49.263 25.3365 54.928C32.6248 59.0409 39.4528 63.8277 45.7465 69.1945C53.1224 65.4518 60.882 62.398 68.9311 60.1073C69.4661 54.4091 69.6941 48.7494 69.6283 43.1451M28.633 38.2745C26.4067 37.2196 24.145 36.2225 21.8496 35.2855C31.1592 30.2826 40.9941 26.1832 51.2242 23.0894C60.4447 28.494 69.0452 34.7837 76.9235 41.8286C74.4723 42.2017 72.0399 42.6411 69.6283 43.1451M28.633 38.2745C35.4648 41.5118 41.9632 45.2941 48.0794 49.5595C55.0246 46.846 62.2283 44.6915 69.6283 43.1451M33.7016 51.91C34.7984 52.0403 35.7932 51.2567 35.9235 50.1599C36.0538 49.063 35.2703 48.0682 34.1735 47.9379C33.0766 47.8076 32.0818 48.5911 31.9515 49.688C31.8212 50.7848 32.6047 51.7796 33.7016 51.91ZM33.7016 51.91L34.8579 42.177C39.6676 39.9261 44.6102 37.9285 49.6665 36.1992M27.4773 64.5778C30.9482 61.844 32.9825 57.9621 33.4656 53.896L33.9375 49.9239" stroke="#A9F27D" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <path d="M29.6106 41.4576C28.4025 46.9306 27.4707 52.5177 26.8316 58.2053C34.2438 62.0904 41.2169 66.6634 47.6738 71.8326C54.9303 67.8632 62.5915 64.5705 70.5657 62.0316C70.924 56.3194 70.9765 50.6554 70.7371 45.0558M29.6106 41.4576C27.3527 40.4722 25.0612 39.5457 22.7379 38.6802C31.888 33.3913 41.5912 28.9892 51.7205 25.58C61.104 30.6963 69.8953 36.7166 77.988 43.514C75.5496 43.9629 73.132 44.4774 70.7371 45.0558M29.6106 41.4576C36.5394 44.4817 43.1519 48.0609 49.3973 52.1348C56.2551 49.2074 63.3886 46.8308 70.7371 45.0558M35.0992 54.9295C36.1995 55.0258 37.1696 54.2118 37.2659 53.1114C37.3621 52.0111 36.5482 51.041 35.4478 50.9447C34.3474 50.8485 33.3774 51.6625 33.2811 52.7628C33.1848 53.8632 33.9988 54.8333 35.0992 54.9295ZM35.0992 54.9295L35.9534 45.1654C40.6911 42.7666 45.5695 40.6168 50.5698 38.7317M29.2703 67.7841C32.6549 64.9441 34.568 61.0011 34.9249 56.9219L35.2735 52.9371" stroke="#1E063A" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                        <defs>
                        <filter id="filter0_f_262_5905" x="5" y="0" width="90" height="90" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                        <feGaussianBlur stdDeviation="5" result="effect1_foregroundBlur_262_5905"/>
                        </filter>
                        <clipPath id="clip0_262_5905">
                        <rect width="64" height="64" fill="white" transform="translate(20.5461 10.0654) rotate(6.77533)"/>
                        </clipPath>
                        </defs>
                        </svg>
                    </div>
                </div>
                <div class="text-base">
                    from our network of > 1.000 experienced professionals to bring hands-on help and expertise into your project and team
                </div>
            </div>
            <div class="col-span-5 bg-primary min-h-[180px] rounded-2xl px-4 pb-4 flex flex-col gap-2">
                <div class="flex flex-row justify-between">
                    <div class="pt-4 font-extrabold text-xl md:text-lg">
                        Professional<br/>support
                    </div>
                    <div class="w-[100px]">
                        <svg viewBox="0 0 100 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.4">
                        <circle cx="3.03503" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="28.6522" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="20.1136" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="45.7299" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="11.5729" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="37.1918" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="3.03503" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="28.6522" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="20.1136" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="45.7299" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="11.5729" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="37.1918" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="3.03503" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="28.6522" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="20.1136" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="45.7299" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="11.5729" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="37.1918" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="3.03503" cy="60.809" r="1.03503" fill="white"/>
                        <circle cx="28.6522" cy="60.809" r="1.03503" fill="white"/>
                        <circle cx="20.1136" cy="60.809" r="1.03503" fill="white"/>
                        <circle cx="45.7299" cy="60.809" r="1.03503" fill="white"/>
                        <circle cx="11.5729" cy="60.809" r="1.03503" fill="white"/>
                        <circle cx="37.1918" cy="60.809" r="1.03503" fill="white"/>
                        <circle cx="3.03503" cy="77.8866" r="1.03503" fill="white"/>
                        <circle cx="28.6522" cy="77.8866" r="1.03503" fill="white"/>
                        <circle cx="20.1136" cy="77.8866" r="1.03503" fill="white"/>
                        <circle cx="45.7299" cy="77.8866" r="1.03503" fill="white"/>
                        <circle cx="11.5729" cy="77.8866" r="1.03503" fill="white"/>
                        <circle cx="37.1918" cy="77.8866" r="1.03503" fill="white"/>
                        <circle cx="54.2701" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="79.8876" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="71.3483" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="96.965" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="62.808" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="88.4271" cy="52.2699" r="1.03503" fill="white"/>
                        <circle cx="54.2701" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="79.8876" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="71.3483" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="96.965" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="62.808" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="88.4271" cy="86.4261" r="1.03503" fill="white"/>
                        <circle cx="54.2701" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="79.8876" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="71.3483" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="96.965" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="62.808" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="88.4271" cy="69.3475" r="1.03503" fill="white"/>
                        <circle cx="54.2701" cy="60.8085" r="1.03503" fill="white"/>
                        <circle cx="79.8876" cy="60.8085" r="1.03503" fill="white"/>
                        <circle cx="71.3483" cy="60.8085" r="1.03503" fill="white"/>
                        <circle cx="96.965" cy="60.8085" r="1.03503" fill="white"/>
                        <circle cx="62.808" cy="60.8085" r="1.03503" fill="white"/>
                        <circle cx="88.4271" cy="60.8085" r="1.03503" fill="white"/>
                        <circle cx="54.2701" cy="77.8871" r="1.03503" fill="white"/>
                        <circle cx="79.8876" cy="77.8871" r="1.03503" fill="white"/>
                        <circle cx="71.3483" cy="77.8871" r="1.03503" fill="white"/>
                        <circle cx="96.965" cy="77.8871" r="1.03503" fill="white"/>
                        <circle cx="62.808" cy="77.8871" r="1.03503" fill="white"/>
                        <circle cx="88.4271" cy="77.8871" r="1.03503" fill="white"/>
                        </g>
                        <g opacity="0.5" filter="url(#filter0_f_262_5974)">
                        <circle cx="50" cy="45" r="35" fill="#A9F27D"/>
                        </g>
                        <path d="M55.8061 64.9404C58.0062 65.6554 60.3432 66.0747 62.7718 66.1499C66.7133 66.2721 70.4699 65.4751 73.8357 63.9525C73.8468 63.7999 73.8547 63.6465 73.8595 63.4922C74.0477 57.42 69.2778 52.3449 63.2056 52.1567C59.426 52.0395 56.0327 53.8433 53.9638 56.6864M55.8061 64.9404L55.8063 64.9336C55.8982 61.9673 55.2246 59.1549 53.9638 56.6864M55.8061 64.9404C55.8031 65.0354 55.7993 65.1303 55.7948 65.2249C50.74 68.0588 44.8738 69.5971 38.6596 69.4045C32.4453 69.2119 26.6857 67.3132 21.8161 64.1717C21.8174 64.0747 21.8196 63.9776 21.8226 63.8802C22.1135 54.4959 29.9568 47.1242 39.3411 47.4151C45.7592 47.614 51.2358 51.3454 53.9638 56.6864M48.8635 30.702C48.7095 35.6702 44.5572 39.5729 39.589 39.4189C34.6208 39.2649 30.7181 35.1126 30.8721 30.1444C31.0261 25.1762 35.1784 21.2736 40.1466 21.4275C45.1148 21.5815 49.0175 25.7339 48.8635 30.702ZM70.667 37.3807C70.5473 41.2449 67.3177 44.2803 63.4535 44.1605C59.5894 44.0407 56.554 40.8111 56.6738 36.947C56.7935 33.0829 60.0231 30.0475 63.8873 30.1672C67.7514 30.287 70.7868 33.5166 70.667 37.3807Z" stroke="#A9F27D" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M57.8127 67.1508C60.0339 67.7974 62.3828 68.144 64.8126 68.144C68.756 68.144 72.4861 67.231 75.8031 65.6049C75.8094 65.4521 75.8126 65.2984 75.8126 65.144C75.8126 59.0689 70.8878 54.144 64.8126 54.144C61.0312 54.144 57.6955 56.0521 55.7156 58.9579M57.8127 67.1508V67.144C57.8127 64.1763 57.0523 61.3862 55.7156 58.9579M57.8127 67.1508C57.8127 67.2459 57.8119 67.3409 57.8103 67.4356C52.8457 70.4247 47.03 72.144 40.8127 72.144C34.5955 72.144 28.7798 70.4247 23.8152 67.4356C23.8136 67.3386 23.8127 67.2414 23.8127 67.144C23.8127 57.7552 31.4239 50.144 40.8127 50.144C47.2339 50.144 52.8235 53.704 55.7156 58.9579M49.8127 33.144C49.8127 38.1146 45.7833 42.144 40.8127 42.144C35.8422 42.144 31.8127 38.1146 31.8127 33.144C31.8127 28.1735 35.8422 24.144 40.8127 24.144C45.7833 24.144 49.8127 28.1735 49.8127 33.144ZM71.8127 39.144C71.8127 43.01 68.6787 46.144 64.8127 46.144C60.9468 46.144 57.8127 43.01 57.8127 39.144C57.8127 35.278 60.9468 32.144 64.8127 32.144C68.6787 32.144 71.8127 35.278 71.8127 39.144Z" stroke="#1E063A" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                        <defs>
                        <filter id="filter0_f_262_5974" x="5" y="0" width="90" height="90" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                        <feGaussianBlur stdDeviation="5" result="effect1_foregroundBlur_262_5974"/>
                        </filter>
                        </defs>
                        </svg>
                    </div>
                </div>
                <div class="text-base">
                    for your structural growth, recruiting & competence build-up
                </div>
            </div>
        </div>
    </div>
</section>