<!DOCTYPE html>
<html class="h-full scroll-smooth bg-white antialiased [font-feature-settings:'ss01'] js-focus-visible" lang="en"
    data-js-focus-visible="">

<head>
    {{> par_header}}
</head>

<body class="flex h-full flex-col overflow-x-hidden">
    {{> script_analytics}}
    <div>
        <main>
            <section class="pb-0 pt-0 pl-0" style="flex:auto">
                <div>
                    <div class="pl-0" style="width:100vw; height:calc(100vh - 164px)">
                        <iframe style="width:100%; height:100%" src="https://twip-pitchdeck-drop-ai.replit.app"></iframe>
                    </div>
                </div>
            </section>
        </main>
        {{> sec_footer minimalVer=true}}
    </div>
</body>

</html>
