<!DOCTYPE html>
<html class="h-full scroll-smooth bg-white antialiased [font-feature-settings:'ss01'] js-focus-visible" lang="en"
    data-js-focus-visible="">

<head>
    {{> par_header}}
</head>

<body class="flex h-full flex-col overflow-x-hidden">
    <div>
        <main>
            <section class="pb-0 pt-0 pl-0" style="flex:auto">
                <div>
                    <div class="pl-0" data-tf-widget="dCFqPSLz" data-tf-opacity="100" data-tf-iframe-props="title=Drop Your Deck" data-tf-transitive-search-params data-tf-medium="snippet" style="width:100vw; height:calc(100vh - 164px)"></div><script src="//embed.typeform.com/next/embed.js"></script>
                </div>
            </section>
        </main>
        {{> sec_footer minimalVer=true}}
    </div>
    {{> script_analytics}}
</body>

</html>