<!DOCTYPE html>
<html class="h-full scroll-smooth bg-white antialiased [font-feature-settings:'ss01'] js-focus-visible" lang="en"
    data-js-focus-visible="">
<head>
    {{> par_header}}
</head>

<body class="flex h-full flex-col overflow-x-hidden">
    {{> script_analytics}}
    <div>
        {{> sec_nav minimalVer=true}}
        <main>
            <section class="relative overflow-hidden md:overflow-visible z-10 bg-gray-ultra-light pt-10 md:pt-20 pb-16 md:pb-32">
                <div class="mx-auto max-w-1080 px-4 relative">
                    <h1 class="font-extrabold text-2xl md:text-3.5xl">Impressum</h1>

                    <h2 class="font-extrabold text-lg md:text-xl pt-4 pb-2">Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
                    <p class="pb-2">TWIP Venture Studio GmbH &amp; Co. KG<br />
                    Aschauer Str. 32<br />
                    81549 M&uuml;nchen</p>
                    
                    <p class="pb-2">Handelsregister: HRA 115112<br />
                    Registergericht: Amtsgericht M&uuml;nchen</p>
                    
                    <p class="pb-2">Vertreten durch:<br />
                    Twip Management GmbH<br/>
                    Aschauer Str. 32<br />
                    81549 M&uuml;nchen</p>
                    
                    <p class="pb-2">Diese vertreten durch:<br />
                    Nicolas Olberg<br />
                    Bernd Schl&uuml;ter</p>
                    
                    <p class="pb-2">Handelsregister: HRB 270774<br />
                    Registergericht: Amtsgericht M&uuml;nchen</p>
                    
                    <h2 class="font-extrabold text-lg md:text-xl pt-4 pb-2">Kontakt</h2>
                    <p class="pb-2">Telefon: +49 89 232315-0<br />
                    E-Mail: hello@twip.de</p>
                    
                    <h2 class="font-extrabold text-lg md:text-xl pt-4 pb-2">Umsatzsteuer-ID</h2>
                    <p class="pb-2">Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27 a Umsatzsteuergesetz:<br />
                    DE349736546</p>
                    
                    <h2 class="font-extrabold text-lg md:text-xl pt-4 pb-2">Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
                    <p class="pb-2">Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
                </div>
            </section>
        </main>
        {{> sec_footer}}
    </div>
</body>

</html>