<!doctype html>
<html lang="de"><!--Todo-->
  <head>
    <meta charset="utf-8">
    <title>Twip! Venture Studio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Twip! Venture Studio">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <!--Todo-->
    <link rel="alternate" href="https://twip.de/en" hreflang="en"/>

    
    <!-- Begin loading animation -->
    <link href="/assets/css/loaders/loader-pulse.css" rel="stylesheet" type="text/css" media="all" />
    <!-- End loading animation -->
    <link href="/assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/assets/css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,600,700&display=swap" rel="stylesheet">
  </head>

  <body data-spy="scroll" data-target="#navbar" data-offset="275">
    <div class="loader">
      <div class="loading-animation"></div>
    </div>
    {{> sec_nav}}

    <section class="pb-0">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>Impressum</h1>

            <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
            <p>TWIP Venture Studio GmbH &amp; Co. KG<br />
            Aschauer Str. 32<br />
            81549 M&uuml;nchen</p>
            
            <p>Handelsregister: HRA 115112<br />
            Registergericht: Amtsgericht M&uuml;nchen</p>
            
            <p><strong>Vertreten durch:</strong><br />
            TWIP Management GmbH<br/>
            Aschauer Str. 32<br />
            81549 M&uuml;nchen</p>
            
            <p>Diese vertreten durch:<br />
            Nicolas Olberg<br />
            Bernd Schl&uuml;ter</p>
            
            <p>Handelsregister: HRB 270774<br />
            Registergericht: Amtsgericht M&uuml;nchen</p>
            
            <h2>Kontakt</h2>
            <p>Telefon: +49 89 232315-0<br />
            E-Mail: venture@twip.de</p>
            
            <h2>Umsatzsteuer-ID</h2>
            <p>Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27 a Umsatzsteuergesetz:<br />
            DE349736546</p>
            
            <h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
            <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
          </div>
        </div>
      </div>
    </section>

    {{> sec_footer}}

    {{> sec_stickyScrollTop}}

    {{> script_externalLibs}}

    {{> script_analytics}}
  </body>

</html>
