@tailwind base;
@tailwind components;
@tailwind utilities;

/*Shadow on Navbar when scrolled*/
html header {
    transition: box-shadow 2s ease-in-out;
}
html:not([data-scroll="0"]) header {
    box-shadow: rgb(0 0 0 / 8%) 0px 0px 250px;
}

/*Flip Card*/
    .flip-card-clickarea {
        perspective: 1000px;
    }
    .flip-card-inner {
        position: relative;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
    .flip-card-clickarea:hover .flip-card-inner, .flip-card-clickarea.details .flip-card-inner {
        transform: rotateY(180deg);
    }
    .flip-card-clickarea.details .flip-card-back {
        background-color: #A9F27D;
        color: #1E063A;
    }
    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
    }
    .flip-card-back {
        transform: rotateY(180deg);
        transition: all 0.2s;
    }
    .flip-card-clickarea + .case-details {
        display: none;
        opacity: 0;
        transition: all 0.7s;
    }
    .flip-card-clickarea.details + .case-details {
        display: block;
        margin: 0.5rem 0;
        opacity: 1;
    } 

/*Ticker Animations*/
.tickers > .scroll:nth-child(even)>div {
    animation: tickerLeft 160s linear infinite;
    animation-delay: -160s;
}
.tickers > .scroll:nth-child(odd)>div {
    animation: tickerRight 160s linear infinite;
    animation-delay: -160s;
}

/*FAQ Section*/
input:checked ~ .faqContent {
    max-height: 100vh;
    margin-top: 32px;
}
input:checked ~ label > .faqArrow > div {
    transform: scale(1, -1);
}

@keyframes tickerLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes tickerRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.tickers > .scroll:nth-child(even)>div:nth-child(2) {
    animation: tickerLeft2 160s linear infinite;
    animation-delay: -80s;
}
.tickers > .scroll:nth-child(odd)>div:nth-child(2) {
    animation: tickerRight2 160s linear infinite;
    animation-delay: -80s;
}

@keyframes tickerLeft2 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-200%);
    }
}
@keyframes tickerRight2 {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0%);
    }
}

@layer base {
    header.opened {
        @apply bg-secondary fixed top-0 left-0 right-0 bottom-[-500px];
    }
    header.opened a[aria-label="Home"] {
        @apply hidden;
    }
    #menuItems a:after {
        content: " ";
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        top: 3px;
        position: relative;
        opacity: 0;
        @apply bg-tertiary opacity-0;
        transition: all 0.2s ease-in-out;
      }
      #menuItems a.active:after {
        @apply lg:opacity-100;
      } 
}